%md-tabs.md-primary.md-hue-2
  %md-tab
    %md-tab-label
      Overview
  %md-tab
    %md-tab-label
      Inbox
  %md-tab
    %md-tab-label
      Notifications
  %md-tab
    %md-tab-label
      Policy Groups
  %md-tab
    %md-tab-label
      Community Settings
  %md-tab
    %md-tab-label
      Activity Log
  %md-tab
    %md-tab-label
      Moderators
%ui-view