body,
md-sidenav,
md-content {
  background: #f2f2f2; }

md-dialog md-content {
  background: #fff; }

md-toolbar#chutter {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  position: absolute;
  z-index: 20; }
  md-toolbar#chutter .md-button {
    padding: 0;
    margin: 10px;
    min-width: auto;
    text-transform: none; }
  md-toolbar#chutter .toolbar-bottom-container {
    width: 280px; }
    md-toolbar#chutter .toolbar-bottom-container a {
      padding-left: 12px;
      width: 50%; }
    md-toolbar#chutter .toolbar-bottom-container #all-button {
      font-size: 16px;
      text-align: left;
      font-weight: 400;
      margin: 0;
      padding-left: 12px; }
  md-toolbar#chutter md-fab-speed-dial {
    position: absolute;
    right: 0;
    top: 75%; }

#scrolly-left,
#scrolly-right {
  margin-top: 64px;
  transform: translateY(64px);
  -webkit-transform: translateY(64px); }

#scrolly-right {
  padding: 16px; }

.overlay-toolbar {
  margin-top: 64px; }

md-sidenav {
  z-index: 19; }

#posts {
  background: #fff;
  z-index: 21; }

post {
  background: #fff; }

p, h1, h2, h3, h4, h5, h6, span {
  font-weight: 225 !important;
  letter-spacing: 0.05em !important; }

a {
  color: #03a9f4;
  text-decoration: none; }

.hide:nth-child(n+5) {
  display: none !important; }

.gray {
  background: #f2f2f2; }

.green {
  background: #b9f6ca; }

.yellow {
  background: #ffff8d; }

.blue {
  background: #84ffff; }

.purple {
  background: #b388ff; }

.red {
  background: #ff8a80; }

.ng-cloak {
  display: none !important; }

.header-caption-wrapper {
  margin: 5% 0 0 0; }
  .header-caption-wrapper h2 {
    margin: 0; }

.image {
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 0); }

.subscription-card {
  margin: 10px 0; }
  .subscription-card .subscription-info h4 {
    color: #000;
    margin: 0; }
  .subscription-card .subscription-info span {
    font-size: 14px;
    color: #757575; }
  .subscription-card .subscription-info .stats span {
    font-size: 10px;
    margin-right: 5px;
    color: #999; }

#right-rail .header {
  margin: 20px 0 0 0; }
  #right-rail .header h3 {
    margin: 0;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.54); }
  #right-rail .header .subscription-count {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.54); }
#right-rail .description h3,
#right-rail .moderators h3,
#right-rail .trending h3,
#right-rail .tags h3,
#right-rail .rules h3 {
  font-size: 14px;
  letter-spacing: 1px; }
#right-rail .description p,
#right-rail .moderators p,
#right-rail .trending p,
#right-rail .tags p,
#right-rail .rules p {
  font-size: 12px;
  color: #333; }
#right-rail .moderators md-list-item,
#right-rail .trending md-list-item {
  min-height: 20px;
  height: auto;
  padding: 0;
  margin: 0; }
  #right-rail .moderators md-list-item i, #right-rail .moderators md-list-item a,
  #right-rail .trending md-list-item i,
  #right-rail .trending md-list-item a {
    font-size: 12px; }
  #right-rail .moderators md-list-item i,
  #right-rail .trending md-list-item i {
    color: #777; }
#right-rail .ctas .md-button {
  font-size: 12px;
  text-transform: lowercase;
  min-width: auto; }
  #right-rail .ctas .md-button.gray-button {
    color: #767676; }

.animate.ng-animate {
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s;
  opacity: 0; }

.animate.ng-leave.ng-leave-active,
.animate.ng-enter {
  opacity: 0.5; }

.animate.ng-leave,
.animate.ng-enter.ng-enter-active {
  opacity: 1; }

/*# sourceMappingURL=application.css.map */
