body,
md-sidenav,
md-content {
  background: #f2f2f2; }

md-dialog md-content {
  background: #fff; }

i.active-up {
  color: #03a9f4; }
i.active-down {
  color: #f44336; }

#create md-content {
  background: #fff; }

#submit md-autocomplete {
  width: 100%;
  min-width: 100%; }
#submit md-tabs md-content {
  background: #fff; }

.inline-link {
  color: #03a9f4;
  cursor: hand;
  margin-right: 4px; }

md-toolbar#main-toolbar,
md-toolbar#moderation-toolbar,
md-toolbar#management-toolbar,
md-toolbar#me-toolbar {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  position: absolute;
  z-index: 20; }
  md-toolbar#main-toolbar .md-toolbar-tools,
  md-toolbar#moderation-toolbar .md-toolbar-tools,
  md-toolbar#management-toolbar .md-toolbar-tools,
  md-toolbar#me-toolbar .md-toolbar-tools {
    padding: 0; }
  md-toolbar#main-toolbar .md-button,
  md-toolbar#moderation-toolbar .md-button,
  md-toolbar#management-toolbar .md-button,
  md-toolbar#me-toolbar .md-button {
    padding: 0;
    margin: 10px;
    min-width: auto;
    text-transform: none; }
  md-toolbar#main-toolbar .toolbar-container,
  md-toolbar#moderation-toolbar .toolbar-container,
  md-toolbar#management-toolbar .toolbar-container,
  md-toolbar#me-toolbar .toolbar-container {
    padding: 0 16px;
    width: 304px;
    min-width: 304px;
    max-width: 304px; }
  md-toolbar#main-toolbar md-fab-speed-dial,
  md-toolbar#moderation-toolbar md-fab-speed-dial,
  md-toolbar#management-toolbar md-fab-speed-dial,
  md-toolbar#me-toolbar md-fab-speed-dial {
    position: absolute;
    right: 0;
    top: 75%; }
  md-toolbar#main-toolbar #breadcrumb,
  md-toolbar#moderation-toolbar #breadcrumb,
  md-toolbar#management-toolbar #breadcrumb,
  md-toolbar#me-toolbar #breadcrumb {
    font-size: 12px;
    padding-top: 4px;
    margin: 0 8px 0 12px; }
  md-toolbar#main-toolbar #secondary-title,
  md-toolbar#main-toolbar #primary-title,
  md-toolbar#moderation-toolbar #secondary-title,
  md-toolbar#moderation-toolbar #primary-title,
  md-toolbar#management-toolbar #secondary-title,
  md-toolbar#management-toolbar #primary-title,
  md-toolbar#me-toolbar #secondary-title,
  md-toolbar#me-toolbar #primary-title {
    position: absolute; }
  md-toolbar#main-toolbar #primary-title,
  md-toolbar#moderation-toolbar #primary-title,
  md-toolbar#management-toolbar #primary-title,
  md-toolbar#me-toolbar #primary-title {
    -webkit-transition: transform 150ms ease-in-out;
    -moz-transition: transform 150ms ease-in-out;
    -webkit-transition: transform 150ms ease-in-out; }
    md-toolbar#main-toolbar #primary-title.active,
    md-toolbar#moderation-toolbar #primary-title.active,
    md-toolbar#management-toolbar #primary-title.active,
    md-toolbar#me-toolbar #primary-title.active {
      transform-origin: top left;
      -webkit-transform-origin: top left;
      -moz-transform-origin: top left;
      transform: translateY(-26px) scale(0.6);
      -webkit-transform: translateY(-26px) scale(0.6);
      -moz-transform: translateY(-26px) scale(0.6); }

md-bottom-sheet md-toolbar,
md-dialog md-toolbar {
  position: relative; }

#scrolly-left,
#scrolly-right {
  margin-top: 64px;
  transform: translateY(64px);
  -webkit-transform: translateY(64px); }

#scrolly-right {
  padding: 16px; }
  #scrolly-right md-content h5 {
    color: #616161; }
  #scrolly-right md-content .stat-card {
    margin-right: 8px; }
  #scrolly-right md-content p {
    color: #616161;
    font-size: 12px; }
  #scrolly-right md-content .md-list-item-text {
    padding-top: 0; }
    #scrolly-right md-content .md-list-item-text h5 {
      margin: 0; }

table th {
  padding: 8px 0; }
table th {
  text-align: left; }

#content {
  z-index: 21;
  margin-top: 64px;
  background: #fff; }
  #content md-bottom-sheet {
    padding: 0 0 88px 0; }

#footer {
  position: absolute;
  bottom: 0; }
  #footer .md-toolbar-tools a {
    font-size: 12px;
    margin: 8px; }

md-sidenav {
  z-index: 19; }

post {
  background: #fff; }

p, h1, h2, h3, h4, h5, h6, span {
  font-weight: 225 !important;
  letter-spacing: 0.05em !important; }

a {
  color: #03a9f4;
  text-decoration: none; }

.hide:nth-child(n+5) {
  display: none !important; }

.gray {
  background: #f2f2f2; }

.green {
  background: #b9f6ca; }

.yellow {
  background: #ffff8d; }

.blue {
  background: #84ffff; }

.purple {
  background: #b388ff; }

.red {
  background: #ff8a80; }

.ng-cloak {
  display: none !important; }

.header-caption-wrapper {
  margin: 5% 0 0 0; }
  .header-caption-wrapper h2 {
    margin: 0; }

.image {
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 0); }

.subscription-card {
  margin: 10px 0; }
  .subscription-card .subscription-info h4 {
    color: #000;
    margin: 0; }
  .subscription-card .subscription-info span {
    font-size: 14px;
    color: #757575; }
  .subscription-card .subscription-info .stats span {
    font-size: 10px;
    margin-right: 5px;
    color: #999; }

.animate.ng-animate {
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s;
  opacity: 0; }

.animate.ng-leave.ng-leave-active,
.animate.ng-enter {
  opacity: 0.5; }

.animate.ng-leave,
.animate.ng-enter.ng-enter-active {
  opacity: 1; }

/*# sourceMappingURL=chutter.css.map */
