.comment-page {
  padding: 15px; }

#comments {
  margin-top: 30px; }
  #comments md-backdrop {
    display: none; }

#reply {
  height: 90%;
  max-height: 550px; }

comment,
comment-embed {
  width: 95%;
  margin: auto;
  border-left: 1px solid #ddd;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  transform-origin: top left;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left; }
  comment .main,
  comment-embed .main {
    background: #fff; }
  comment .collapsed,
  comment-embed .collapsed {
    display: none; }
    comment .collapsed.active,
    comment-embed .collapsed.active {
      display: block; }
  comment .main,
  comment .collapsed,
  comment-embed .main,
  comment-embed .collapsed {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden; }
  comment.shrunk,
  comment-embed.shrunk {
    transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0); }
  comment i,
  comment-embed i {
    color: #bbb; }
  comment .collapse-toggle,
  comment-embed .collapse-toggle {
    width: 100%;
    margin: 0;
    padding: 0;
    text-transform: none;
    line-height: inherit;
    min-height: 20px; }
  comment .vote,
  comment-embed .vote {
    min-height: 85px;
    max-height: 85px;
    max-width: 3%; }
    comment .vote .md-button,
    comment-embed .vote .md-button {
      min-width: 100%;
      padding: 0;
      margin: 0; }
  comment .header,
  comment .vote,
  comment-embed .header,
  comment-embed .vote {
    height: 25px; }
    comment .header .username,
    comment .vote .username,
    comment-embed .header .username,
    comment-embed .vote .username {
      font-weight: 500;
      padding-left: 4px; }
    comment .header button.md-button,
    comment .vote button.md-button,
    comment-embed .header button.md-button,
    comment-embed .vote button.md-button {
      line-height: 25px;
      padding: 0 !important;
      margin: 0 !important;
      min-height: 25px;
      height: 25px;
      min-width: 15px; }
      comment .header button.md-button span,
      comment .vote button.md-button span,
      comment-embed .header button.md-button span,
      comment-embed .vote button.md-button span {
        height: 100%;
        width: 25px; }

comment .main {
  margin-bottom: 30px; }

.collapsed {
  transform-origin: top left;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  background: #f7f7f7;
  background-color: #f6f6f6;
  -webkit-transform: scale(0, 1);
  -moz-transform: scale(0, 1);
  transform: scale(0, 1); }
  .collapsed .header {
    background: #f6f6f6;
    background-color: #f6f6f6; }
  .collapsed.active {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1); }

comment .main {
  transform-origin: top left;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out; }
  comment .main.active {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }
  comment .main .footer a {
    color: #bbb;
    margin-right: 6px; }
comment .reply .body textarea {
  background-color: #f5f5f5; }

/*# sourceMappingURL=comments.css.map */
