.comment-page {
  padding: 15px; }

#comments md-backdrop {
  display: none; }

#reply {
  height: 90%;
  max-height: 550px; }

#comment-toolbar {
  position: relative;
  min-height: 32px;
  height: 32px; }
  #comment-toolbar .md-toolbar-tools {
    height: 32px;
    font-size: 14px; }

comment,
comment-embed {
  margin-left: 2%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  transform-origin: top left;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  width: 95%; }
  comment .main,
  comment .collapsed,
  comment-embed .main,
  comment-embed .collapsed {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden; }
  comment.shrunk,
  comment-embed.shrunk {
    transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0); }
  comment .collapse-toggle,
  comment-embed .collapse-toggle {
    font-size: 10px;
    width: 100%;
    margin: 0;
    padding: 0;
    text-transform: none;
    line-height: inherit;
    min-height: 20px; }
  comment .vote,
  comment-embed .vote {
    min-height: 85px;
    max-height: 85px;
    max-width: 3%; }
    comment .vote .md-button,
    comment-embed .vote .md-button {
      min-width: 100%;
      padding: 0;
      margin: 0; }
  comment .child,
  comment-embed .child {
    width: 100%; }
  comment .header,
  comment-embed .header {
    height: 25px;
    margin: 4px; }
    comment .header .username,
    comment-embed .header .username {
      font-weight: 500;
      padding-left: 4px; }
    comment .header button.md-button,
    comment-embed .header button.md-button {
      line-height: 25px;
      padding: 0 !important;
      margin: 0 !important;
      min-height: 25px;
      height: 25px;
      min-width: 15px; }
      comment .header button.md-button span,
      comment-embed .header button.md-button span {
        height: 100%;
        width: 25px; }
  comment .body,
  comment-embed .body {
    margin: 10px 0 0 20px; }

.collapsed {
  transform-origin: top left;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  background: #f7f7f7;
  background-color: #f6f6f6;
  -webkit-transform: scale(0, 1);
  -moz-transform: scale(0, 1);
  transform: scale(0, 1); }
  .collapsed .header {
    background: #f6f6f6;
    background-color: #f6f6f6; }
  .collapsed.active {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1); }

.main {
  transform-origin: top left;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out; }
  .main.active {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }
  .main .footer {
    margin: 10px 5px 5px 28px; }
    .main .footer a {
      font-size: 12px;
      color: #bbb;
      margin-right: 6px; }

.reply .body textarea {
  background-color: #f5f5f5; }

/*# sourceMappingURL=comments.css.map */
