/*
Error: Inconsistent indentation: 1 space was used for indentation, but the rest of the document was indented using 2 spaces.
        on line 49 of _app/css/mediaPlayer.sass

44:     position: absolute
45:     top: 40%
46:     left: 40%
47:   #image-view
48:     height: calc(100% - 32px) 
49:  #webpage-view
50:     overflow: auto
51:     img
52:       width: 100%
53:   #discussion-view
54:     //height minus the toolbar

Backtrace:
_app/css/mediaPlayer.sass:49
/Users/alternateaccount/.rvm/gems/ruby-2.2.2/gems/sass-3.4.15/lib/sass/engine.rb:483:in `block in tabulate'
/Users/alternateaccount/.rvm/gems/ruby-2.2.2/gems/sass-3.4.15/lib/sass/engine.rb:441:in `each'
/Users/alternateaccount/.rvm/gems/ruby-2.2.2/gems/sass-3.4.15/lib/sass/engine.rb:441:in `each_with_index'
/Users/alternateaccount/.rvm/gems/ruby-2.2.2/gems/sass-3.4.15/lib/sass/engine.rb:441:in `tabulate'
/Users/alternateaccount/.rvm/gems/ruby-2.2.2/gems/sass-3.4.15/lib/sass/engine.rb:406:in `_to_tree'
/Users/alternateaccount/.rvm/gems/ruby-2.2.2/gems/sass-3.4.15/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Users/alternateaccount/.rvm/gems/ruby-2.2.2/gems/sass-3.4.15/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Users/alternateaccount/.rvm/gems/ruby-2.2.2/gems/sass-3.4.15/lib/sass/exec/sass_scss.rb:410:in `run'
/Users/alternateaccount/.rvm/gems/ruby-2.2.2/gems/sass-3.4.15/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/alternateaccount/.rvm/gems/ruby-2.2.2/gems/sass-3.4.15/lib/sass/exec/base.rb:52:in `parse'
/Users/alternateaccount/.rvm/gems/ruby-2.2.2/gems/sass-3.4.15/lib/sass/exec/base.rb:19:in `parse!'
/Users/alternateaccount/.rvm/gems/ruby-2.2.2/gems/sass-3.4.15/bin/sass:13:in `<top (required)>'
/Users/alternateaccount/.rvm/gems/ruby-2.2.2/bin/sass:23:in `load'
/Users/alternateaccount/.rvm/gems/ruby-2.2.2/bin/sass:23:in `<main>'
/Users/alternateaccount/.rvm/gems/ruby-2.2.2/bin/ruby_executable_hooks:15:in `eval'
/Users/alternateaccount/.rvm/gems/ruby-2.2.2/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Inconsistent indentation: 1 space was used for indentation, but the rest of the document was indented using 2 spaces.\A         on line 49 of _app/css/mediaPlayer.sass\A \A 44:     position: absolute\A 45:     top: 40%\A 46:     left: 40%\A 47:   #image-view\A 48:     height: calc(100% - 32px) \A 49:  #webpage-view\A 50:     overflow: auto\A 51:     img\A 52:       width: 100%\A 53:   #discussion-view\A 54:     //height minus the toolbar"; }
