%div{layout: "column", layout-align: "center center", flex: "true"}
  %h3.md-title
    Community Overvew (coming soon)
  %h6.md-subheader
    This will show traffic stats and general at-a-glance info about the community