%div{layout: "column", flex: "true", layout-align: "center center"}
  %h3.md-title
    Welcome to mod tools
  %h6.md-subheader
    Select a community you moderate from the "moderated communities" list in the toolbar to get started.
  %md-button.md-primary
    Need help?
