%md-toolbar.md-primary.md-hue-2{md-scroll-shrink: "true", layout-align: "center", layout: "column"}
  .md-toolbar-tools
    %md-tabs.md-primary.md-hue-2{flex: true}
      %md-tab
        %md-tab-label
          Overview
  
%ui-view