%md-content{layout: "row", flex: true, layout-align: "end end"}

  %md-toolbar.md-whiteframe-z1.md-tall#moderation-toolbar
    .md-toolbar-tools{ng-hide: "user && user.id", layout: "row"}
      %img{ng-src: "vendor/mr-chutter.png", style: "width: 35px;"}
      %a#brand{ui-sref: "home.all", flex: true, ng-click: "toggleLeft()"}
        chutter

      %md-button{ng-show: "$mdMedia('lt-md')", ng-click: "toggleLeft()"}
        %i.fa.fa-list
      %span{flex: true}
      %md-button{ng-click: "signIn()"}
        Sign In
    
    .md-toolbar-tools{ng-show: "user && user.id", layout: "row", flex: "100"}
      .toolbar-container 
        %img{ng-src: "vendor/mr-chutter.png", style: "width: 35px;", hide-sm: true}
        %md-button.md-icon-button{ng-click: "toggleLeft()", hide-gt-sm: true}
          %i.fa.fa-align-justify.fa-fw
        %a#brand{ui-sref: "home.all", flex: true, ng-click: "toggleLeft()", hide-sm: true}
          chutter
      %span{flex: true}
      .toolbar-container{hide-sm: true, hide-md: true, layout: "row", layout-align: "end end"}
        %md-button{ng-if: "user.moderator", href: "/moderation", target: "_self"}
          moderation
        %md-button{ng-if: "user.manager", href: "/management", target: "_self"}
          management
        %md-button{href: "/me/notifications", ng-bind: "user.username", target: "_self"}
        %md-button{href: "/me/conversations", target: "_self", hide-sm: true}
          %i.fa.fa-envelope-o.fa-fw
          %md-tooltip
            Messages
        %md-button{ng-click: "logout()", hide-sm: true}
          %i.fa.fa-sign-out.fa-fw
          %md-tooltip
            Log out
    .md-toolbar-tools.md-toolbar-tools-bottom{layout: "row"}
      .toolbar-container{layout: "row", layout-align: "start center"}
        %a
          Moderation
      %span{flex: true}
      .toolbar-container{layout: "row", layout-align: "center center"}
        %a#primary-title{href: "#", ng-bind: "page.title.text", ng-class: "{'active': page.secondary_title}"}
        %a#secondary-title{ng-if: "page.secondary_title", ui-sref: "home.community({id: page.secondary_title.slug})", ng-bind: "page.secondary_title.text"}

  %md-sidenav.md-sidenav-left{md-component-id: "left", md-is-locked-open: "$mdMedia('gt-md')"}
    %md-content.nav-menu.gray{flex: true, role: "navigation", layout-fill: true, layout: "row"}
      %md-list.nav-list
        %md-list-item{ng-repeat: "community in communities"}
          %md-button{aria-label: "Community", ui-sref: "home.community.dashboard({id: community.slug})", ui-sref-active: "md-primary"}
            %i.fa.fa-fw
            {{community.name}}
        
  .md-whiteframe-z1#content{flex: true, layout: "row"}
    %ui-view{layout: "column", layout-fill: "true"}
    %media-controls#media-controls{layout: "column"}


  %md-sidenav.md-sidenav-right{md-component-id: "right", md-is-locked-open: "$mdMedia('gt-md')"}
    %md-content
      %div{layout: "column", ui-view: "right-rail"}
      