%md-toolbar#main-toolbar{ng-class: "page.mainToolbar", md-scroll-shrink: "true"}
  .md-toolbar-tools{layout: "row", flex: "100", layout-align: "space-between center"}
    .toolbar-continer{layout: "row"}
      %md-button#logo{style: "background-color: transparent;", href: "/", layout: "row", layout-align: "center center"}
        %img{ng-src: "/img/logo.png"}
      %a#secondary-header{ng-bind: "secondaryTitle"}      
              
    .toolbar-container#auth-container{ng-hide: "user && user.id", layout: "row", layout-align: "end end"}
      %md-button{aria-label: "sign in", ng-click: "logIn()"}
        log in
      %md-button{aria-label: "sign in", ui-sref: "register.welcome"}
        sign up
    .toolbar-container{ng-show: "user && user.id", hide-sm: true, hide-md: true, layout: "row", layout-align: "end center"}
      %md-button{aria-label: "moderation", ng-if: "user.moderator == 'true'", href: "/moderation", target: "_self"}
          mod
      %md-button{aria-label: "management", ng-if: "user.manager == 'true'", href: "/management", target: "_self"}
          management
      %md-button{aria-label: "notifications", href: "/me/", target: "_self"}
          {{user.username}} 
      .user-points{layout: "row", layout-align: "start center"}
        (
        %a{href: "/"} {{user.post_points}}
        ·
        %a{href: "/"} {{user.comment_points}}
        )
      %md-button.md-icon-button.icon-button-with-counter{ng-class: "{'active': unread_notifications}", aria-label: "messages", href: "/me/", target: "_self", hide-sm: true, layout: "row"}
        %div
          %i.icon.ion-ios-bell
        %div{ng-if: "unread_notifications && unread_notifications > 0"}
          %span.counter-text{ng-bind: "unread_notifications"}
        %md-tooltip 
          Notifications      
      %md-button.md-icon-button.icon-button-with-counter{ ng-class: "{'active': unread_messages}", aria-label: "messages", href: "/me/conversations", target: "_self", hide-sm: true, layout: "row"}
        %div
          %i.icon.ion-ios-chatboxes
        %div{ng-if: "unread_messages && unread_messages > 0"}
          %span.counter-text{ng-bind: "unread_messages"}
        %md-tooltip
          Conversations
      %md-button.md-icon-button{aria-label: "logout", ng-click: "logout()", hide-sm: true}
        %i.icon.ion-log-out
        %md-tooltip
          Log out
%md-toolbar#networks-bar{ng-class: "page.mainToolbar"}
  .md-toolbar-tools
    %md-menu-bar#network-menu-bar
      %md-menu
        %md-button{ng-click: "$mdOpenMenu()"}
          %span
            Moderated Communities
          %md-icon
            %i.icon.ion-android-arrow-dropdown
        %md-menu-content
          %md-menu-item{ng-repeat: "community in communities"}
            %md-button{aria-label: "moderate community", ui-sref: "home.community({community: community.slug})"} 
              {{community.name}}
    

    %md-tabs.md-primary{flex: "true", ng-class: "page.mainToolbar"}
      %md-tab{ui-sref: ".dashboard"}
        %md-tab-label
          Overview
      %md-tab{ui-sref: ".modwatch"}
        %md-tab-label
          Modwatch
      %md-tab{ui-sref: ".inbox"}
        %md-tab-label
          Inbox
      %md-tab{ui-sref: ".queue"}
        %md-tab-label
          Queue
      %md-tab{ui-sref: ".policyGroups"}
        %md-tab-label
          Policy Groups
      %md-tab{ui-sref: ".settings"}
        %md-tab-label
          Settings
      %md-tab{ui-sref: ".rules"}
        %md-tab-label
          Rules
      %md-tab{ui-sref: ".activityLog"}
        %md-tab-label
          Activity Log
      %md-tab{ui-sref: ".moderators"}
        %md-tab-label
          Moderators
      %md-tab{ui-sref: ".moderationRequests"}
        %md-tab-label
          Moderator Requests
%md-progress-linear.md-hue-2#loading{md-mode: "indeterminate", ng-if: "loading"}
