%md-button.md-primary.md-raised{ng-click: "addModerator()"}
  Approve
%md-button.md-warn.md-raised{ng-click: "dismissModerationPositionRequest()"}
  Dismiss
  %md-tooltip 
    This does not affect the user's community subscription status, it just dismisses the notification.
