%md-dialog#authenticate{aria-label: "Log In"}
  %form{name: "logIn", ng-submit: "submitLogin(user)"}
    %md-dialog-content{style: "width: auto;"}
      %h2.md-title
        welcome back
      #errors
        %p{ng-repeat: "error in errors.full_messages", ng-bind: "error"}     
        %md-input-container
          %label
            Username
          %input{ng-model: "user.username", required: true}
        %md-input-container
          %label
            Password
          %input{ng-model: "user.password", type: "password", required: true}
    .md-actions{layout: "row"}
      %md-button{ng-click: "hideDialog()"}
        Cancel
      %md-button.md-primary{type: "submit"}
        Login

 