%div{style: "z-index: 120;"}
  %post.post.primary-content{post: "page.post",  layout: "row"}
%md-content#comments.secondary-content
  #comment-wrapper
    %comment.primary-content{parent: "", layout: "column", ng-repeat: "child in page.comments",id: "c{{child.path}}", comment: "child"}

%md-button.md-fab.post-comment{ng-if: "user && user.id", aria-label: "Comment", ng-click: "reply()"}
  %i.icon.ion-ios-chatbubble
  %md-tooltip{md-direction: "left"}
    Comment