%md-content.secondary-content{chutter-scroll-shrink: "true"}
  .md-whiteframe-z1{ng-hide: "ctrl.post.body", style: "z-index: 120; margin: 8px;", ng-include: "'../app/partials/shared/post.html'"}
  .md-whiteframe-z1{ng-show: "ctrl.post.body", style: "z-index: 120; margin: 8px;", ng-include: "'../app/partials/shared/discussionPost.html'"}
  %md-toolbar.secondary-content#secondary-toolbar
    .md-toolbar-tools{layout: "row", layout-align: "start center"}
      %p.color-light.comment-count{ng-bind: "ctrl.post.comments_count + ' comments'"}
      .mini-tab{layout: "column", layout-align: "center center", ui-sref-active: "active"}
        %a.link-color
          hot
      .mini-tab{layout: "column", layout-align: "center center", ui-sref-active: "active"}
        %a.link-color
          top
      .mini-tab{layout: "column", layout-align: "center center", ui-sref-active: "active"}
        %a.link-color
          live
      %span{flex: true}
      %md-button.post-reply{aria-label: "reply", ng-if: "user && user.id", aria-label: "Comment", ng-click: "commentListCtrl.reply()"}
        Reply
  %comment-list{layout: "column"}
    %comment.primary-content{layout: "column", parent: "", ng-repeat: "child in commentListCtrl.comments", id: "c{{child.path}}", comment: "child", post: "post"}
