%md-toolbar.md-primary.md-hue-1{md-scroll-shrink: "true", layout-align: "center", layout: "column"}
  .md-toolbar-tools{ng-switch: "page.scope"}
    %md-tabs.md-primary.md-hue-1{md-no-pagination: "true", flex: true}
      %md-tab{ui-sref: "^.hot"}
        %md-tab-label
          %h3
            hot
      %md-tab{ui-sref: "^.new"}
        %md-tab-label
          %h3
            new

      %md-tab{ui-sref: "^.top"}
        %md-tab-label
          %h3
            top

%md-content{infinite-scroll: "myPagingFunction()", infinite-scroll-distance: "3", ui-view: "posts"}
  
