%div{style: "z-index: 120;"}
  %post.post{post: "page.post",  layout: "row"}
%md-toolbar#comment-toolbar.md-hue-2{md-scroll-shrink: true, layout-align: "center", layout: "column"}
  .md-toolbar-tools{layout: "row", layout-fill: "true"}
    %md-tabs.md-hue-2{md-no-pagination: "true", flex: "true"}
      %md-tab
        %md-tab-label
          %h3
            best
      %md-tab
        %md-tab-label
          %h3
            top
      %md-tab
        %md-tab-label
          %h3
            live
    %span.comments{hide-sm: "true", ng-bind: "page.post.comments_count + ' comments'"}
    %md-button.md-icon-button{hide-sm: "true"}
      %i.icon.ion-ios-trash
%md-content#comments
  #comment-wrapper{infinite-scroll: "fetchMoreComments()", infinite-scroll-container: "'#comments'", infinite-scroll-distance: "1"}
    %comment{parent: "", layout: "column", ng-repeat: "child in page.comments",id: "c{{child.path}}", comment: "child"}

%md-button.md-fab.post-comment{ng-if: "user && user.id", aria-label: "Comment", ng-click: "reply()"}
  %i.icon.ion-ios-chatbubble
  %md-tooltip{md-direction: "left"}
    Comment