.md-whiteframe-z1{ng-hide: "ctrl.post.body", style: "z-index: 120; margin: 8px;", ng-include: "'../app/partials/shared/post.html'"}
.md-whiteframe-z1{ng-show: "ctrl.post.body", style: "z-index: 120; margin: 8px;", ng-include: "'../app/partials/shared/discussionPost.html'"}
%md-toolbar.secondary-content#secondary-toolbar
  .md-toolbar-tools{layout: "row", layout-align: "start center"}
    %p.color-light.comment-count{ng-bind: "ctrl.post.comments_count + ' comments'"}
    %span{flex: true}
    %a.link-color
      hot
    %a.link-color
      top
    %a.link-color
      live
#comments.primary-content
  %comment-list{layout: "column", layout-fill: "true"}
    %comment.primary-content{layout: "column", parent: "", ng-repeat: "child in commentListCtrl.comments", id: "c{{child.path}}", comment: "child", post: "post"}

%md-button.md-fab.post-comment{aria-label: "reply", ng-if: "user && user.id", aria-label: "Comment", ng-click: "commentListCtrl.reply()"}
  %i.icon.ion-ios-chatbubble
  %md-tooltip{md-direction: "left"}
    Comment