%div{style: "z-index: 120;"}
  %post.post{post: "page.post",  layout: "row"}
%md-toolbar#comment-toolbar.md-hue-2{layout: "row", md-scroll-shrink: "true"}
  .md-toolbar-tools{layout: "row"}
    %md-tabs.md-hue-2{flex: true}
      %md-tab
        %md-tab-label
          %h3
            best
      %md-tab
        %md-tab-label
          %h3
            top
      %md-tab
        %md-tab-label
          %h3
            live
    %span.comments{ng-bind: "page.post.comments_count + ' comments'"}
    %md-button.md-icon-button
      %i.icon.ion-ios-trash
%md-content#comments

  %comment{parent: "", layout: "column", ng-repeat: "child in page.comments",id: "c{{child.path}}", comment: "child"}

%md-button.md-fab.post-comment{aria-label: "Comment", ng-click: "reply()"}
  %i.icon.ion-ios-chatbubble
  %md-tooltip{md-direction: "left"}
    Comment