%md-toolbar.md-primary.md-hue-3{md-scroll-shrink: "true", layout-align: "center", layout: "column"}
  .md-toolbar-tools
    %md-tabs.md-primary.md-hue-3{md-no-pagination: "true"}
      %md-tab{ui-sref: "home.community.hot"}
        %md-tab-label
          %h3
            hot
      %md-tab{ui-sref: "home.community.new"}
        %md-tab-label
          %h3
            new
      %md-tab{ui-sref: "home.community.top"}
        %md-tab-label
          %h3
            top

%md-content{infinite-scroll: "myPagingFunction()", infinite-scroll-distance: "3", ui-view: "posts"}
  
