!!! 5
%html{lang: "en", ng-app: "MainApp", xmlns:ng: "http://angularjs.org", ng-controller: "themeCtrl"}
  %head
    %base{href: "/"}

    %link{rel: "icon", type:"image/png", href: "favicon.ico"}
    %link{rel: "shortcut icon", type:"image/png", href: "favicon.ico"}
    %meta{name: "fragment", content: "!"}
    %meta{charset: "utf-8"}
    %meta{content: "telephone=no", name: "format-detection"}
    %meta{content: "width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes", name: "viewport"}
    %link{href: "https://www.chutter.co/", rel: "canonical"}

    %meta{name: "fragment", content: "!"}
    %meta{name: "description", content: "Tired of seeing yesterday's news? Chutter.co is the source for new and interesting stuff on the web"}

    %meta{property: "og:site_name", content: "Chutter"}
    %meta{property: "og:title", content: "Chutter: a new reddit alternative"}
    %meta{property: "og:type", content: "general"}
    %meta{property: "og:image", content: "https://www.chutter.co/img/logo.png"}
    %meta{property: "og:url", content: "https://www.chutter.co/"}
    %meta{property: "og:description", content: "Tired of seeing yesterday's news? Chutter.co is the source for new and interesting stuff on the web."}

    %meta{name: "twitter:card", content: "summary"}
    %meta{name: "twitter:site", content: "@chutterco"}
    %meta{name: "twitter:title", content: "Chutter: a new reddit alternative"}
    %meta{name: "twitter:description", content: "Tired of seeing yesterday's news? Chutter.co is the source for new and interesting stuff on the web."}
    %meta{name: "twitter:creator", content: "@chutterco"}
    %meta{name: "twitter:image:src", content: "https://www.chutter.co/img/logo.png"}
    %meta{name: "twitter:domain", content: "https://www.chutter.co/"}



    %title Chutter: a new reddit alternative


  %body{layout: "column", md-theme: "{{theme}}"}
    #toolbarShrink{ui-view: "toolbar"}
    .secondary-content#contentShrink{layout: "row", flex: "true"}
      %ui-view{layout-fill: "true", flex: "true"}
        %md-progress-circular#loading-spinner{md-mode: "indeterminate"}
      %md-sidenav.md-sidenav-right.secondary-content{md-component-id: "right", md-is-locked-open: "$mdMedia('gt-md')"}
        %md-content.secondary-content{ui-view: "right-rail", layout: "column", flex: "true"}
        
        %footer-sidebar
    
  %link{href: "/css/compiled/application.min.css", rel: "stylesheet", type: "text/css"}
  %link{href: "/vendor/ionicons/css/ionicons.min.css", rel: "stylesheet", type: "text/css"}
  %script{src: "/js/compiled/application.min.js"}
  %script{src: "/js/compiled/main.min.js"}
  %script{async: "true", src: "//platform.twitter.com/widgets.js"}
  %script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-67283779-1', 'auto');
      ga('send', 'pageview');
