%md-content{layout: "row", flex: true, layout-align: "end end"}
  %md-toolbar.md-whiteframe-z1.md-tall#main-toolbar
    .md-toolbar-tools{ng-hide: "user && user.id", layout: "row"}
      .toolbar-container
        %img{ng-src: "vendor/mr-chutter.png", style: "width: 35px;", hide-sm: "true"}
        %a#brand{ui-sref: "home.all", flex: true, ng-click: "toggleLeft()", hide-sm: "true"}
          chutter

        %md-button{ng-show: "$mdMedia('lt-md')", ng-click: "toggleLeft()", hide-gt-small: "true"}
          %i.fa.fa-list
      %span{flex: true}
      .toolbar-container{layout: "row", layout-align: "end end"}
        %md-button{ng-click: "signIn()"}
          Sign In
    
    .md-toolbar-tools{ng-show: "user && user.id", layout: "row", flex: "100"}
      .toolbar-container 
        %img{ng-src: "vendor/mr-chutter.png", style: "width: 35px;", hide-sm: "true"}
        %md-button.md-icon-button{ng-click: "toggleLeft()", hide-gt-sm: true}
          %i.fa.fa-align-justify.fa-fw
        %a#brand{ui-sref: "home.all", flex: true, ng-click: "toggleLeft()", hide-sm: "true"}
          chutter
      %span{flex: true}
      .toolbar-container{hide-sm: true, hide-md: true, layout: "row", layout-align: "end end"}
        %md-button{ng-if: "user.moderator", href: "/moderation", target: "_self"}
          moderation
        %md-button{ng-if: "user.manager", href: "/management", target: "_self"}
          management
        %md-button{href: "/me/notifications", ng-bind: "user.username", target: "_self"}
        %md-button{href: "/me/conversations", target: "_self", hide-sm: true}
          %i.fa.fa-envelope-o.fa-fw
          %md-tooltip
            Messages
        %md-button{ng-click: "logout()", hide-sm: true}
          %i.fa.fa-sign-out.fa-fw
          %md-tooltip
            Log out
    .md-toolbar-tools.md-toolbar-tools-bottom{layout: "row"}
      .toolbar-container{layout: "row", layout-align: "center center"}
        %a{ui-sref: "home.all", flex: true}
          All
        %span{flex: true}
        %md-button.md-icon-button{ng-click: "editNetworks()"}
          %i.fa.fa-sliders.fa-fw
      %span{flex: true}
      .toolbar-container{layout: "row", layout-align: "center center"}
        %a#primary-title{href: "#", ng-bind: "page.title.text", ng-class: "{'active': page.secondary_title}"}
        %a#secondary-title{ng-if: "page.secondary_title", ui-sref: "home.community({id: page.secondary_title.slug})", ng-bind: "page.secondary_title.text"}
        %span{flex: true}
        %md-fab-speed-dial.md-scale{md-direction: "down", ng-if: "page.scope == 'community'"}
          %md-fab-trigger
            %md-button.md-fab.md-mini{aria-label: "menu", ui-sref: "home.community.submit({id: page.community.slug})"}
              %i.fa.fa-share.fa-fw
          %md-fab-actions
            %md-button.md-fab.md-raised.md-mini.md-warn{aria-label: "twitter"}
              %i.fa.fa-ban.fa-fw

            
  %md-sidenav.md-sidenav-left{md-component-id: "left", md-is-locked-open: "$mdMedia('gt-md')"}
    %md-content.offset-toolbar.nav-menu.gray{flex: true, role: "navigation", layout-fill: true, layout: "row"}
      %ul.menu-nested-list.ng-cloak{flex: true}
        %li{ng-repeat: "network in page.networks | orderBy:'name'", ui-sref-active: "active"}
          %menu-toggle{ng-if: "true", network: "network"}
              
  .md-whiteframe-z1#content{flex: true, layout: "row"}
    %ui-view{layout: "column", layout-fill: "true"}
    %media-controls#media-controls{layout: "column"}

  %md-sidenav.md-sidenav-right{md-component-id: "right", md-is-locked-open: "$mdMedia('gt-md')"}
    %md-content{ng-switch: "page.scope", layout: "column"}
      %div{ng-switch-when: "submit", layout-fill: true}
        .description
          %md-list
            %md-list-item
              .md-list-item-text
                %p{ng-bind: "page.community.description"}
        .rules
          %h5
            Submission Rules
          %md-list
            %md-list-item.md-2-line{ng-repeat: "rule in page.community.rules"}
              .md-list-item-text
                %h5{ng-bind: "rule.brief_description"}
                %p{ng-bind: "rule.detailed_explanation"}
      %div{ng-switch-when: "community", layout-fill: true}

        .description
          %md-list
            %md-list-item
              .md-list-item-text
                %p{ng-bind: "page.community.description"}
        .rules
          %h5
            General Rules
          %md-list
            %md-list-item.md-2-line{ng-repeat: "rule in page.community.rules"}
              .md-list-item-text
                %h5{ng-bind: "rule.brief_description"}
                %p{ng-bind: "rule.detailed_explanation"}

        .moderators
 
      %div{ng-switch-when: "all", layout: "column", layout-fill: true}
        .description
          %h5
            Monthly Sub Goal
          %div
            %md-progress-linear.md-warn{md-mode: "determinate", value: "33"}
          .md-padding{layout: "row", layout-align: "center center"}
            %a
              Help keep Chutter running
        .news
          %h5
            Welcome to Chutter
          %p
            Chutter.co is a new place to share the best stuff on the web. To get started, check out some of the different 
            %span.inline-link{ng-click: "editNetworks()"} networks 
            When you subscribe to a network for the first time, you are auto-subscribed to their default communities. This can be changed by clicking the slider icon in the left menu upon entering a network.
          %p
            P.S. - just click the post's picture to view an embedded / mirrored version of the link. Otherwise, click the title to visit the actual link.

      %div{ng-switch-when: "network", layout: "column", layout-fill: true}
        .description
          %h5
            Trending Communities

    #footer{ng-if: "page.scope == 'all'"}
      %md-divider
      .md-toolbar-tools{layout: "row", layout-align: "center center"}
        %a
          help
        %a 
          contact
        %a
          bugs
        %a
          faq
        %a
          values
        %a
          rules
