%md-toolbar.md-whiteframe-z1#chutter
  .md-toolbar-tools{ng-hide: "user && user.id", layout: "row"}
    %img{ng-src: "vendor/mr-chutter.png", style: "width: 35px;"}
    %a#brand{ui-sref: "home.all", flex: true, ng-click: "toggleLeft()"}
      chutter

    %md-button{ng-show: "$mdMedia('lt-md')", ng-click: "toggleLeft()"}
      %i.fa.fa-list
    %span{flex: true}
    %md-button{ng-click: "signIn()"}
      Sign In
  
  .md-toolbar-tools{ng-show: "user && user.id", layout: "row"}
    %img{ng-src: "vendor/mr-chutter.png", style: "width: 35px;", hide-sm: true}
    %md-button.md-icon-button{ng-click: "toggleLeft()", hide-gt-sm: true}
      %i.fa.fa-align-justify.fa-fw
    %a#brand{ui-sref: "home.all", flex: true, ng-click: "toggleLeft()", hide-sm: true}
      chutter
    %span{flex: true}
    %md-button{href: "/me/notifications", ng-bind: "user.username + '(' + user.points + ')'", target: "_self"}
      
    %md-button{href: "/me/conversations", target: "_self", hide-sm: true}
      %i.fa.fa-envelope-o.fa-fw
      %md-tooltip
        Messages
    %md-button{ng-click: "logout()", hide-sm: true}
      %i.fa.fa-sign-out.fa-fw
      %md-tooltip
        Log out

%md-content{layout: "row", flex: true}
  %md-sidenav.md-sidenav-left.offset-toolbar{md-component-id: "left", md-is-locked-open: "$mdMedia('gt-md')"}
    %md-content.nav-menu.gray{flex: true, role: "navigation", layout-fill: true, layout: "row"}
      %ul.menu-nested-list.ng-cloak{flex: true}
        %li
          %md-button.all-button{aria-label: "Explore all", ng-click: "exploreAll()"}
            %div{layout: "row"}
              All
              %span{flex: true}
              %span{style: "padding-right: 3px;", ng-click: "editNetworks()"}
                %i.fa.fa-sliders
          
        %li{ng-repeat: "networkSubscription in page.networkSubscriptions", ng-class: "{'childActive' : isSectionSelected(networkSubscription)}"}
          %menu-toggle{ng-if: "true", network-subscription: "networkSubscription"}
              
  %md-content.md-whiteframe-z1#posts.offset-toolbar{flex: true}
    %ui-view{flex: true}
    %media-player#player{layout: "column"}

  %md-sidenav.md-sidenav-right.gray.offset-toolbar#right-rail{md-component-id: "right", md-is-locked-open: "$mdMedia('gt-md')"}
    %div{ng-switch: "page.scope", layout: "column", layout-margin: true}
      %md-content{ng-switch-when: "all"}
      %md-content{ng-switch-when: "network"}
        .header{flex: true, layout: "row"}
          %div
            %h3{ng-bind: "page.network.name"}
          %span{flex: true}
        %md-divider
        .ctas{layout: "row", layout-align: "center center"}
          %div
            %md-button.gray-button{ng-click: "editCommunity()"}
              %i.fa.fa-sitemap.fa-fw
              458
            %md-tooltip
              communities
          %div
            %md-button.gray-button
              %i.fa.fa-user.fa-fw
              109,399
            %md-tooltip
              subscribers
          %div
            %md-button.gray-button
              %i.fa.fa-circle.fa-fw
              9,444
            %md-tooltip
              here now

        .trending
          %h3
            Trending Communities
          %md-list
            %md-list-item
              %a{href: "#"}
                \/c/somecommunity   
            %md-list-item
              %a{href: "#"}
                \/c/somecommunity              
            %md-list-item
              %a{href: "#"}
                \/c/tryusingscience  
            %md-list-item
              %a{href: "#"}
                \/c/redditisded
      %md-content{ng-switch-when: "comments"}
        .header{flex: true, layout: "row"}
          %div
            %a{ng-bind: "page.community.name", ui-sref: "home.community({community: page.community.slug})"}
          %span{flex: true}
          %div
            %p.subscription-count
              %i.fa.fa-users.fa-fw
              1,232,244
        %md-divider
          %md-input-container
            %label
              Filter Comments
            %input

      %md-content{ng-switch-when: "submit"}
        .header{flex: true, layout: "row"}
          %div
            %h3{ng-bind: "page.community.name"}
          %span{flex: true}
          %div
            %p.subscription-count
              %i.fa.fa-users.fa-fw
              1,232,244
        %md-divider
        .rules
          %h3
            Submission Rules
          %md-list
            %md-list-item
              \- You must personally hold the view and be open to it changing.
            %md-list-item
              \- If your view is about someone having a double standard, please see the guidelines here
            %md-list-item
              \- Posts with misleading/overly-simplistic titles may be removed.
            %md-list-item
              \- Feasible suggestions that gain traction there may be implemented or posted to CMV for further discussion by the mods.
        .moderators
          %h3
            Mods
          %md-list
            %md-list-item
              %a{href: "#"}
                Snorrrlax
              %a.md-secondary{href: "#"}
                %i.fa.fa-envelope-o.fa-fw
            %md-list-item
              %a{href: "#"}
                protagornast
              %a.md-secondary{href: "#"}
                %i.fa.fa-envelope-o.fa-fw
            %md-list-item
              %a{href: "#"}
                TryUsingScience
              %a.md-secondary{href: "#"}
                %i.fa.fa-envelope-o.fa-fw
            %md-list-item
              %a{href: "#"}
                GameboyPATH
              %a.md-secondary{href: "#"}
                %i.fa.fa-envelope-o.fa-fw  
      %md-content{ng-switch-when: "community"}
        .header{flex: true, layout: "row"}
          %div
            %a{ng-bind: "page.community.name", ui-sref: "home.community({community: page.community.slug})"}
          %span{flex: true}
          %div
            %p.subscription-count
              %i.fa.fa-users.fa-fw
              1,232,244
        %md-divider
        .ctas{layout: "row", layout-align: "center center"}
          %div
            %md-button.md-primary{ui-sref: "home.community.submit({community: page.community.slug})"}
              %i.fa.fa-plus.fa-fw
              Submit
          %div
            %md-button.md-warn{ui-sref: "home.community.submit({community: page.community.slug})"}
              %i.fa.fa-ban.fa-fw
              Block
        .description
          %h3
            Description
          %p
            SRSDiscussion is a modded progressive-oriented forum for discussing issues of social justice. Our goal is to foster a welcoming space for the perspectives of minorities and marginalized people. Comments which are discordant with the ethos of social progressivism will be removed, and users who post in bad faith will be banned.
            If you see any problematic content, don't hesitate to report it. The "report" link is one of the links underneath every post and comment.

        .moderators
          %h3
            Mods
          %md-list
            %md-list-item
              %a{href: "#"}
                Snorrrlax
              %a.md-secondary{href: "#"}
                %i.fa.fa-envelope-o.fa-fw
            %md-list-item
              %a{href: "#"}
                protagornast
              %a.md-secondary{href: "#"}
                %i.fa.fa-envelope-o.fa-fw
            %md-list-item
              %a{href: "#"}
                TryUsingScience
              %a.md-secondary{href: "#"}
                %i.fa.fa-envelope-o.fa-fw
            %md-list-item
              %a{href: "#"}
                GameboyPATH
              %a.md-secondary{href: "#"}
                %i.fa.fa-envelope-o.fa-fw   
    