%md-content{layout: "row", flex: true, layout-align: "end end"}
  %md-toolbar.md-whiteframe-z1.md-tall#main-toolbar{ng-class: "page.mainToolbar"}

    %main-toolbar

    .md-toolbar-tools.md-toolbar-tools-bottom{layout: "row", layout-align: "space-between"}
      .toolbar-container.no-padding{layout: "row", layout-align: "center center"}
        .nav-list-item
          %md-button{ui-sref: "home.all.hot"}
            %p All
          %md-button.secondary-action.md-icon-button
            %span.icon.ion-ios-settings{aria-controls: "all", aria-label: "edit network", ng-click: "editNetworks()"}
      .toolbar-container#titles{layout: "row", layout-align: "space-between center"}
        %a#primary-title{ui-sref: "home.network.hot({network: page.title.slug})", ng-bind: "page.title.text", ng-class: "{'active': page.secondary_title}"}
        %a#secondary-title{ng-if: "page.secondary_title", ui-sref: "home.community.hot({community: page.secondary_title.slug})", ng-bind: "page.secondary_title.text"}
        %md-button.md-fab.md-mini{ng-if: "user && user.id", md-direction: "down", ui-sref: "home.submit"}
          %i.icon.ion-android-share
          %md-tooltip
            Submit


  %md-sidenav.md-sidenav-left{md-component-id: "left", md-is-locked-open: "$mdMedia('gt-md')"}
    %md-content.nav-list.secondary-content{flex: true, role: "navigation", layout-fill: true, layout: "column"}
      .nav-list-wrapper{ng-repeat: "network in page.networks | orderBy:'name'"}
        .nav-list-item{ui-sref-active: "opened"}
          %md-button{aria-label: "network", ui-sref: "home.network.hot({network: network.slug})", layout: "row", layout-align: "center start"}
            %p{ng-bind: "::network.name"}
          %md-button.secondary-action.md-icon-button{aria-controls: "{{::network.name}} edit", aria-label: "edit communities", layout: "row", layout-align: "center center", ng-click: "editNetworkCommunities(network)"}
            %span.ion-ios-settings
        .subnav-list-item
          %md-button{aria-label: "community", ng-repeat: "community in network.communities", ng-bind: "community.name", ui-sref: "home.community.hot({community: community.slug})"}
  #content.md-whiteframe-z1{flex: true, layout: "row"}
    %ui-view{layout: "column", layout-fill: "true"}

  %md-sidenav.md-sidenav-right.secondary-content{md-component-id: "right", md-is-locked-open: "$mdMedia('gt-md')", layout: "column", layout-align: "space-between"}
    %md-content.secondary-content{ui-view: "right-rail", layout: "column"}
    %footer-sidebar.secondary-content
