%md-content{layout: "row", flex: true, layout-align: "end end"}
  %md-toolbar.md-whiteframe-z1.md-tall#main-toolbar{ng-class: "page.mainToolbar"}
    .md-toolbar-tools{ng-hide: "user && user.id", layout: "row", flex: "100", layout-align: "space-between center"}
      .toolbar-container.no-padding{layout: "row", layout-align: "center center"}
        .nav-list-item{hide-sm: "true"}
          %md-button#logo{style: "background-color: transparent;", ui-sref: "home.all.hot", layout: "column", layout-align: "center center"}
            %img{ng-src: "/img/logo.png"}
        %md-button.md-icon-button{aria-label: "toggle left", hide-gt-sm: "true", ng-click: "toggleLeft()"}
          %i.icon.ion-navicon
      %div{hide-gt-sm: "true", flex: "true", layout: "row", layout-align: "center center"}
        %md-button.md-icon-button{aria-label: "home"}
          %md-icon{md-svg-src: "/img/character.svg", style: "height: 40px; width: 40px; fill: #000;"}
      .toolbar-container{layout: "row", layout-align: "end end"}
        %md-button{aria-label: "sign in", ng-click: "signIn()"}
          Sign In

    .md-toolbar-tools{ng-show: "user && user.id", layout: "row", flex: "100", layout-align: "space-between center"}
      .toolbar-container.no-padding{layout: "row", layout-align: "center center"}
        .nav-list-item
          %md-button#logo{style: "background-color: transparent;", ui-sref: "home.all.hot", layout: "column", layout-align: "center center"}
            %img{ng-src: "img/logo.png", hide-sm: "true"}
      .toolbar-container{hide-sm: true, hide-md: true, layout: "row", layout-align: "end center"}
        %md-button{aria-label: "moderation", ng-if: "user.moderator", href: "/moderation", target: "_self"}
          Moderation
        %md-button{aria-label: "management", ng-if: "user.manager", href: "/management", target: "_self"}
          Management
        %md-menu
          %md-button.md-icon-button{aria-label: "change theme", ng-click: "$mdOpenMenu($event)"}
            .icon.ion-android-color-palette
          %md-menu-content.theme-list
            %md-button{aria-label: "change theme", ng-click: "switchTheme('chutter')"}
              .theme-chutter
                Chutter
            %md-button{aria-label: "change theme", ng-click: "switchTheme('chutterDark')"}
              .theme-chutter-dark
                Chutter Dark
            %md-button{aria-label: "change theme", ng-click: "switchTheme('chutterTeal')"}
              .theme-chutter-teal
                Chutter Teal
            %md-button{aria-label: "change theme", ng-click: "switchTheme('chutterOrange')"}
              .theme-chutter-orange
                Chutter Orange
            %md-button{aria-label: "change theme", ng-click: "switchTheme('chutterPink')"}
              .theme-chutter-pink
                Chutter Pink

        %md-button{aria-label: "notifications", href: "/me/notifications", target: "_self"}
          {{::user.username}}
        %md-button.md-icon-button{aria-label: "messages", href: "/me/conversations", target: "_self", hide-sm: true}
          %i.icon.ion-android-mail
          %md-tooltip
            Messages
        %md-button.md-icon-button{aria-label: "logout", ng-click: "logout()", hide-sm: true}
          %i.icon.ion-log-out
          %md-tooltip
            Log out
    .md-toolbar-tools.md-toolbar-tools-bottom{layout: "row", layout-align: "space-between"}
      .toolbar-container.no-padding{layout: "row", layout-align: "center center"}
        .nav-list-item
          %md-button{ui-sref: "home.all.hot"}
            %p All
          %md-button.secondary-action.md-icon-button
            %span.icon.ion-ios-settings{aria-controls: "all", aria-label: "edit network", ng-click: "editNetworks()"}
      .toolbar-container#titles{layout: "row", layout-align: "space-between center"}
        %a#primary-title{ui-sref: "home.network.hot({network: page.title.slug})", ng-bind: "page.title.text", ng-class: "{'active': page.secondary_title}"}
        %a#secondary-title{ng-if: "page.secondary_title", ui-sref: "home.community.hot({community: page.secondary_title.slug})", ng-bind: "page.secondary_title.text"}
        %md-button.md-fab.md-mini{md-direction: "down", ng-if: "page.scope == 'community'", ui-sref: "home.community.submit({community: page.community.slug})"}
          %i.icon.ion-android-share


  %md-sidenav.md-sidenav-left{md-component-id: "left", md-is-locked-open: "$mdMedia('gt-md')"}
    %md-content.nav-list.secondary-content{flex: true, role: "navigation", layout-fill: true, layout: "column"}
      .nav-list-wrapper{ng-repeat: "network in page.networks | orderBy:'name'"}
        .nav-list-item{ui-sref-active: "opened"}
          %md-button{aria-label: "network", ui-sref: "home.network.hot({network: network.slug})", layout: "row", layout-align: "center start"}
            %p{ng-bind: "::network.name"}
          %md-button.secondary-action.md-icon-button{aria-controls: "{{::network.name}} edit", aria-label: "edit communities", layout: "row", layout-align: "center center", ng-click: "editNetworkCommunities(network)"}
            %span.ion-ios-settings
        .subnav-list-item
          %md-button{aria-label: "community", ng-repeat: "community in network.communities", ng-bind: "community.name", ui-sref: "home.community.hot({community: community.slug})"}
  #content.md-whiteframe-z1{flex: true, layout: "row"}
    %ui-view{layout: "column", layout-fill: "true"}

  %md-sidenav.md-sidenav-right{md-component-id: "right", md-is-locked-open: "$mdMedia('gt-md')"}
    %md-content.secondary-content{ui-view: "right-rail", layout: "column", layout-fill: "layout-fill"}
    %span{flex:true}
    %footer-sidebar.secondary-content
