%chutter-toolbar
%md-content.md-whiteframe-z1#content{layout: "row", layout-fill: "true"}
  %ui-view{layout: "column", layout-fill: "true", flex: "true"}
  %md-sidenav.md-sidenav-right.secondary-content{md-component-id: "right", md-is-locked-open: "$mdMedia('gt-md')"}
    %md-content.secondary-content{ui-view: "right-rail", layout: "column", layout-fill: "layout-fill"}
    %span{flex:true}
    %footer-sidebar.secondary-content
