%md-content{layout: "row", flex: true, layout-align: "end end"}
  %md-toolbar.md-whiteframe-z1.md-tall#main-toolbar
    .md-toolbar-tools{ng-hide: "user && user.id", layout: "row"}
      .toolbar-container
        %img{ng-src: "vendor/mr-chutter.png", style: "width: 35px;", hide-sm: "true"}
        %a#brand{ui-sref: "home.all.hot", flex: true, ng-click: "toggleLeft()", hide-sm: "true"}
          chutter

        %md-button{ng-show: "$mdMedia('lt-md')", ng-click: "toggleLeft()", hide-gt-small: "true"}
          %i.fa.fa-list
      %span{flex: true}
      .toolbar-container{layout: "row", layout-align: "end end"}
        %md-button{ng-click: "signIn()"}
          Sign In
    
    .md-toolbar-tools{ng-show: "user && user.id", layout: "row", flex: "100"}
      .toolbar-container 
        %img{ng-src: "vendor/mr-chutter.png", style: "width: 35px;", hide-sm: "true"}
        %md-button.md-icon-button{ng-click: "toggleLeft()", hide-gt-sm: true}
          %i.fa.fa-align-justify.fa-fw
        %a#brand{ui-sref: "home.all.hot", flex: true, ng-click: "toggleLeft()", hide-sm: "true"}
          chutter
      %span{flex: true}
      .toolbar-container{hide-sm: true, hide-md: true, layout: "row", layout-align: "end end"}
        %md-button{ng-if: "user.moderator", href: "/moderation", target: "_self"}
          moderation
        %md-button{ng-if: "user.manager", href: "/management", target: "_self"}
          management
        %md-button{href: "/me/notifications", ng-bind: "user.username", target: "_self"}
        %md-button{href: "/me/conversations", target: "_self", hide-sm: true}
          %i.icon.ion-android-mail
          %md-tooltip
            Messages
        %md-button{ng-click: "logout()", hide-sm: true}
          %i.icon.ion-log-out
          %md-tooltip
            Log out
    .md-toolbar-tools.md-toolbar-tools-bottom{layout: "row"}
      .toolbar-container{layout: "row", layout-align: "center center"}
        %a{ui-sref: "home.all.hot", flex: true}
          All
        %span{flex: true}
        %md-button.md-icon-button{ng-click: "editNetworks()"}
          %i.icon.ion-android-options
      %span{flex: true}
      .toolbar-container#titles{layout: "row", layout-align: "center center"}
        %a#primary-title{href: "#", ng-bind: "page.title.text", ng-class: "{'active': page.secondary_title}"}
        %a#secondary-title{ng-if: "page.secondary_title", ui-sref: "home.community({id: page.secondary_title.slug})", ng-bind: "page.secondary_title.text"}
        %span{flex: true}
        %md-button.md-fab.md-mini{md-direction: "down", ng-if: "page.scope == 'community'"}
          %i.icon.ion-android-share

            
  %md-sidenav.md-sidenav-left{md-component-id: "left", md-is-locked-open: "$mdMedia('gt-md')"}
    %md-content.nav-menu.gray{flex: true, role: "navigation", layout-fill: true, layout: "row"}
      %ul.menu-nested-list.ng-cloak{flex: true}
        %li{ng-repeat: "network in page.networks | orderBy:'name'", ui-sref-active: "active"}
          %menu-toggle{ng-if: "true", network: "network"}
              
  .md-whiteframe-z1#content{flex: true, layout: "row"}
    %ui-view{layout: "column", layout-fill: "true"}

  %md-sidenav.md-sidenav-right{md-component-id: "right", md-is-locked-open: "$mdMedia('gt-md')"}
    %md-content{ng-switch: "page.scope", layout: "column"}
      %div{ng-switch-when: "submit", layout-fill: true}
        %submission-sidebar
      %div{ng-switch-when: "community", layout-fill: true}
        %community-sidebar
      %div{ng-switch-when: "all", layout: "column", layout-fill: true}
        %all-sidebar
      %div{ng-switch-when: "network", layout: "column", layout-fill: true}
        %network-sidebar
      %div{ng-switch-when: "comment", layout: "column", layout-fill: true}
        %comment-sidebar
    #footer{ng-if: "page.scope == 'all'"}

