%md-toolbar.md-whiteframe-z1.md-tall#main-toolbar
  .md-toolbar-tools{ng-hide: "user && user.id", layout: "row"}
    %img{ng-src: "vendor/mr-chutter.png", style: "width: 35px;"}
    %a#brand{ui-sref: "home.all", flex: true, ng-click: "toggleLeft()"}
      chutter

    %md-button{ng-show: "$mdMedia('lt-md')", ng-click: "toggleLeft()"}
      %i.fa.fa-list
    %span{flex: true}
    %md-button{ng-click: "signIn()"}
      Sign In
  
  .md-toolbar-tools{ng-show: "user && user.id", layout: "row", flex: "100"}
    .toolbar-container 
      %img{ng-src: "vendor/mr-chutter.png", style: "width: 35px;", hide-sm: true}
      %md-button.md-icon-button{ng-click: "toggleLeft()", hide-gt-sm: true}
        %i.fa.fa-align-justify.fa-fw
      %a#brand{ui-sref: "home.all", flex: true, ng-click: "toggleLeft()", hide-sm: true}
        chutter
    %span{flex: true}
    .toolbar-container{hide-sm: true, hide-md: true, layout: "row", layout-align: "end end"}
      %md-button{ng-if: "user.moderator", href: "/moderation", target: "_self"}
        moderation
      %md-button{ng-if: "user.manager", href: "/management", target: "_self"}
        management
      %md-button{href: "/me/notifications", ng-bind: "user.username", target: "_self"}
      %md-button{href: "/me/conversations", target: "_self", hide-sm: true}
        %i.fa.fa-envelope-o.fa-fw
        %md-tooltip
          Messages
      %md-button{ng-click: "logout()", hide-sm: true}
        %i.fa.fa-sign-out.fa-fw
        %md-tooltip
          Log out
  .md-toolbar-tools.md-toolbar-tools-bottom{layout: "row"}
    .toolbar-container{layout: "row", layout-align: "center center"}
      %a{ui-sref: "home.all", flex: true}
        All
      %span{flex: true}
      %md-button.md-icon-button
        %i.fa.fa-sliders.fa-fw
    %span{flex: true}
    .toolbar-container{layout: "row", layout-align: "center center"}
      %a#primary-title{href: "#", ng-bind: "page.title.text", ng-class: "{'active': page.secondary_title}"}
      %a#secondary-title{ng-if: "page.secondary_title", ui-sref: "home.community({id: page.secondary_title.slug})", ng-bind: "page.secondary_title.text"}
      %span{flex: true}
      %md-fab-speed-dial.md-scale{md-direction: "down", ng-if: "page.scope == 'community'"}
        %md-fab-trigger
          %md-button.md-fab.md-mini{aria-label: "menu", ui-sref: "home.community.submit({id: page.community.slug})"}
            %i.fa.fa-share.fa-fw
        %md-fab-actions
          %md-button.md-fab.md-raised.md-mini.md-warn{aria-label: "twitter"}
            %i.fa.fa-ban.fa-fw
%md-content{layout: "row", flex: true}
  %md-sidenav.md-sidenav-left{md-component-id: "left", md-is-locked-open: "$mdMedia('gt-md')"}
    %md-content.offset-toolbar.nav-menu.gray#scrolly-left{flex: true, role: "navigation", layout-fill: true, layout: "row"}
      %ul.menu-nested-list.ng-cloak{flex: true}
        %li{ng-repeat: "networkSubscription in page.networkSubscriptions", ng-class: "{'childActive' : isSectionSelected(networkSubscription)}"}
          %menu-toggle{ng-if: "true", network-subscription: "networkSubscription"}
              
  %md-content.md-whiteframe-z1#content{flex: true}
    %ui-view{flex: true}
    %media-player#player{layout: "column"}

  %md-sidenav.md-sidenav-right.gray{md-component-id: "right", md-is-locked-open: "$mdMedia('gt-md')"}
    %div.offset-toolbar#scrolly-right{ng-switch: "page.scope", layout: "column"}
      %md-content{ng-switch-when: "submit", layout-fill: true}
        .header{flex: true, layout: "row"}
          %p.stat-card
            %i.fa.fa-users.fa-fw
            1,232,244
          %p.stat-card
            %i.fa.fa-circle.fa-fw
            3,388
        %md-divider
        .description
          %p{ng-bind: "page.community.description"}
        .rules
          %h3
            Submission Rules
          %md-list
            %md-list-item.md-2-line{ng-repeat: "rule in page.community.rules"}
              .md-list-item-text
                %h3{ng-bind: "rule.brief_description"}
                %p{ng-bind: "rule.detailed_explanation"}
      %md-content{ng-switch-when: "community", layout-fill: true}
        .header{flex: true, layout: "row"}
          %p.stat-card
            %i.fa.fa-users.fa-fw
            1,232,244
          %p.stat-card
            %i.fa.fa-circle.fa-fw
            3,388
        %md-divider
        .description
          %p{ng-bind: "page.community.description"}
        .rules
          %h3
            General Rules
          %md-list
            %md-list-item.md-2-line{ng-repeat: "rule in page.community.rules | filter:{general: true}"}
              .md-list-item-text
                %h3{ng-bind: "rule.brief_description"}
                %p{ng-bind: "rule.detailed_explanation"}

        .moderators
 
      %md-content{ng-switch-when: "all", layout: "column", layout-fill: true}
        .description
          %h3
            Monthly Sub Goal
          %div
            %md-progress-linear.md-warn{md-mode: "determinate", value: "33"}
          .md-padding{layout: "row", layout-align: "center center"}
            %a
              Help keep chutter running
        .news
          %h3
            News
      %md-content{ng-switch-when: "network", layout: "column", layout-fill: true}
        .description
          %h3
            Trending Communities

    #footer{ng-if: "page.scope == 'all'"}
      %md-divider
      .md-toolbar-tools{layout: "row", layout-align: "center center"}
        %a
          help
        %a 
          contact
        %a
          bugs
        %a
          faq
        %a
          values
        %a
          rules
