%md-dialog{md-dynamic-height: true, style: "min-height: 300px;", aria-label="Sign In", flex: "50"}
  %md-toolbar
    %div.md-toolbar-tools
      Manage Network Subscriptions
      %span{flex: true}
      %md-button.md-icon-button{ng-click: "hideDialog()"}
        %i.fa.fa-close.fa-fw{aria-label="Close dialog"}
  %md-dialog-content{layout: "column", layout-fill: "true"}
    %div{layout: "column"}
      %md-input-container
        %label Search
        %input{ng-model: "networkFilter"}
    %md-content#dialog-content{layout: "column"}
      %md-list-item.subscription-card{ng-repeat: "network in networks | filter: networkFilter", layout: "row"}
        .subscription-info{layout: "column", flex: 90}
          %h4{ng-bind:"network.name"}
          %span{ng-if: "false", ng-bind:"network.description || 'some description here'"}
          .stats{ng-if: "false"}
            %span
              %i.fa.fa-user.fa-fw
              2,349
            %span
              %i.fa.fa-sitemap.fa-fw
              {{network.communities_count || 0}}
        %div{layout: "center center", layout-fill: true}
          %md-switch{ng-model: "network.subscribed", aria-label: "Switch 1", ng-change: "toggle(network)"}
        
