%md-dialog{md-dynamic-height: true, style: "min-height: 300px;", aria-label="Sign In", flex: "50"}
  %md-toolbar
    %div.md-toolbar-tools
      Manage Network Subscriptions
      %span{flex: true}
      %md-button.md-icon-button{ng-click: "hideDialog()"}
        %i.fa.fa-close.fa-fw{aria-label="Close dialog"}
  %md-dialog-content
    %div{layout: "row"}
      %md-input-container{flex: true}
        %label Search
        %input{ng-model: "networkFilter"}
    %md-list-item{ng-repeat: "network in networks | filter: networkFilter"}
      %p{ng-bind:"network.name"}
      %span{flex: true}
      %md-switch{ng-model: "network.selected", aria-label: "Switch 1", ng-change: "toggle(network)"}
