.vote{layout: "column", layout-fill: true, flex: true, hide-sm: true}
  %md-button{flex: true, aria-label: "Upvote", ng-click: "post.updateVote(1)"}
    %i.fa.fa-caret-up.fa-2x{ng-class: "{'active' : (post.vote == 1)}"}
  %md-button{flex: true, aria-label: "Downvote", ng-click: "post.updateVote(-1)"}
    %i.fa.fa-caret-down.fa-2x{ng-class: "{'active' : (post.vote == -1)}"}
.media{ng-show: "post.media.length", ng-click: "post.toggle()", style: "background-image: url('{{post.media[0].thumbnail_link}}'); background-size: cover;", hide-sm: true}
.middle{flex: true, flex-sm: "100", layout: "column", layout-fill: true}
  .top{ng-switch: "post.media.length"}
    %div{ng-switch-when: 0, layout: "row"}
      .title{flex: "75", flex-sm: "100"}
        %a.title-text{ng-bind: "post.title", ui-sref: "home.community.comments({id: post.slug, community: post.community_slug})"}
      %span{flex: true}
      .community
        %a{ng-bind: "post.community"}
    %div{ng-switch-default: true, layout: "row"}
      .title{flex: "75"}
        %a.title-text{ng-bind: "post.title", href: "{{post.media[0].link}}"}
        %span.attribution  
          %a{ng-bind: "'('+post.media[0].attribution+')'"}
      %span{flex: true}
      .community
        %a{ng-bind: "post.community"}
  .tagline
    %span.votes{ng-bind: "(post.points || 0) + ' points'"} 
    %span.submitted-by-text
      submitted by
    %a.user-link{ng-bind: "post.user.username", ui-sref: "user.overview({username: post.user.username})"}
      {{post.user.username}}
    %span.time-ago
      about 34 minutes ago
  .post-insight
  .footer{layout: "row"}
    %a{ui-sref: "home.community.comments({id: post.slug, community: post.community_slug})", ng-bind: "post.comments_count + ' comments'"}

