.vote{layout: "column", layout-fill: true, hide-sm: true}
  %md-button{flex: true, aria-label: "Upvote", ng-click: "post.updateVote(1)"}
    %i.fa.fa-caret-up.fa-2x{ng-class: "{'active' : (post.vote == 1)}"}
  %md-button{flex: true, aria-label: "Downvote", ng-click: "post.updateVote(-1)"}
    %i.fa.fa-caret-down.fa-2x{ng-class: "{'active' : (post.vote == -1)}"}
.media{ng-show: "post.media.length", ng-click: "post.toggle()"}
  %md-button.md-fab.md-mini.post-toggle
    %i.fa.fa-play.fa-fw
.body{ng-hide: "post.media.length", ng-click: "post.toggleBody()"}
  %md-content
    %p{ng-bind: "post.body"}
.middle{layout: "column", flex: true}
  .top{ng-switch: "post.media.length"}
    %div{ng-switch-when: 0, layout: "row", flex: true}
      .title{flex: "75", flex-sm: "100"}
        %a.title-text{ng-bind: "post.title", ui-sref: "home.community.comments({id: post.slug, community: post.community_slug})"}
      %span{flex: true}
      .community
        %a{ng-bind: "post.community"}
    %div{ng-switch-default: true, layout: "row", flex: true}
      .title{flex: "75"}
        %a.title-text{ng-bind: "post.title", href: "{{post.media[0].link}}"}
        %span.attribution{ng-bind: "'('+post.media[0].attribution+')'"}
      %span{flex: true}
      %a.community{ng-bind: "post.community"}
  .tagline
    %span.votes{ng-bind: "(post.points || 0) + ' points'"} 
    %span.submitted-by-text
      submitted by
    %a.user-link{ng-bind: "post.username", ui-sref: "user.overview({username: post.username})"}
      {{post.user.username}}
    %span.time-ago
      about 34 minutes ago
  .footer{layout: "row"}
    %a{ui-sref: "home.community.comments({id: post.slug, community: post.community_slug})", ng-bind: "post.comments_count + ' comments'"}
    %a{ng-click: "save()"}
      save
    %a{ng-click: "report()"}
      report
    %a{ng-click: "moderate()", ng-if: "user && user.moderator"}
      mod
