%md-toolbar.secondary-content#secondary-toolbar
  .md-toolbar-tools{layout: "row", layout-align: "start center"}
    .mini-tab{layout: "column", layout-align: "center center", ui-sref-active: "active"}
      %a.link-color{ui-sref: ".hot"}
        hot
    .mini-tab{layout: "column", layout-align: "center center", ui-sref-active: "active"}
      %a.link-color{ui-sref: ".new"}
        top
    .mini-tab{layout: "column", layout-align: "center center", ui-sref-active: "active"}
      %a.link-color{ui-sref: ".top"}
        new   
.secondary-content.md-whiteframe-z1{ui-view: "posts"}
