%md-toolbar.md-primary.md-hue-2{md-scroll-shrink: "true", layout-align: "center", layout: "column"}
  .md-toolbar-tools{ng-switch: "page.scope", layout: "row", layout-fill: "true"}
    %md-tabs.md-primary.md-hue-2{md-no-pagination: "true", flex: "true"}
      %md-tab{ui-sref: "home.all.hot"}
        %md-tab-label
          %h3
            hot
      %md-tab{ui-sref: "home.all.new"}
        %md-tab-label
          %h3
            new

      %md-tab{ui-sref: "home.all.top"}
        %md-tab-label
          %h3
            top

%md-content#posts.primary-content{infinite-scroll: "myPagingFunction()", infinite-scroll-distance: "3", ui-view: "posts"}
