.vote{layout: "column", layout-fill: true, hide-sm: true}
  %md-button{flex: true, aria-label: "Upvote", ng-click: "post.updateVote(1)"}
    %i.fa.fa-caret-up.fa-2x.md-primary{ng-class: "{'active-up' : (post.vote == 1)}"}
  %md-button{flex: true, aria-label: "Downvote", ng-click: "post.updateVote(-1)"}
    %i.fa.fa-caret-down.fa-2x{ng-class: "{'active-down' : (post.vote == -1)}"}
.main
  .postcontent{layout: "column",layout-align: "center center"}
    .postcontrols{layout-align: "start center", ng-switch: "post.currentMedia.format", style: "background: #000; width: 100%; top: 0;"}
        .md-padding{layout: "row", flex: true, ng-switch-when: "music"}
          %md-button.md-icon-button{ng-switch: "post.audio.audioElement.paused", ng-click: "post.audio.toggle()"}
            %i.fa.fa-play.fa-2x{ng-switch-when: "true", style: "color: #fff;"}
            %i.fa.fa-pause.fa-2x{ng-switch-default: true, style: "color: #fff;"}
          %md-slider.md-warn{flex: "50", ng-model: "post.audio.currentTime", min: "0", max: "10"} 
          %p{ng-bind: "post.audio.currentTime"}
          %span{flex: true}  
          %md-button.md-icon-button{ng-click: "post.toggle()"}
            %i.fa.fa-close.fa-2x.fa-fw{style: "color: #fff;"} 
      .md-padding{layout: "row", flex: true, ng-switch-default: true}
          %md-button.md-icon-button{ng-click: "post.toggle()", aria-label: "toggle"}
            %i.fa.fa-close.fa-2x.fa-fw{style: "color: #fff;"} 
          %span{flex: true}  
          %md-button.reset-button{aria-label: "reset media", ng-show: "post.zoomValue > 5", ng-click: "post.zoomValue = 5"}
            Reset
          %md-button.md-icon-button{aria-label: "zoom", ng-show: "post.zoomValue > 1", ng-click: "post.zoomValue = 10"}
            %i.fa.fa-expand.fa-2x.fa-fw{style: "color: #fff;"}            
    .media{flex: "100", ng-click: "post.toggle($event)"}
      %embed-video{ng-if: "post.currentMedia.format == 'video' && post.zoomValue > 1", data-ng-href: "{{post.media[0].stream_link}}", autoplay: "1", height: "{{ratioHeight}}", width: "100%"}
      %img{ng-if: "(post.currentMedia.format != 'video') && post.zoomValue > 1", ng-src: "{{post.currentMedia.image_link}}", style: "width: 100%;"}
      .body{ng-if: "post.currentMedia.format == 'body'" , layout: "column"}
        %md-content.md-whiteframe-z1.md-padding
          %div.md-padding{marked: "::post.body"}
  .middle{layout: "column"}
    .top{ng-switch: "post.media.length"}
      %div{ng-switch-when: 0, layout: "row", flex: true}
        .title
          %a.title-text{ng-bind: "::post.title", ui-sref: "home.community.comments({id: post.slug, community: post.community_slug})"}

      %div{ng-switch-default: true, layout: "row", flex: true}
        .title
          %a.title-text{ng-bind: "::post.title", href: "{{::post.media[0].link}}"}
          %span.attribution{ng-bind: "'('+post.media[0].attribution+')'"}
    .tagline
      %span.votes{ng-bind: "(post.points || 0) + ' points'"} 
      %span.submitted-by-text
        submitted by
      %a.user-link{ng-bind: "::post.user.username", ui-sref: "user.overview({username: post.username})"}
      %span.time-ago
        about 34 minutes ago
    .footer{layout: "row",flex: "100"}
      %a{ui-sref: "home.community.comments({id: post.slug, community: post.community_slug})", ng-bind: "post.comments_count + ' comments'"}
      %a{ng-click: "save()"}
        save
      %a{ng-click: "report()"}
        report
      %a{ng-click: "moderate()", ng-if: "user && user.moderator"}
        mod
