%comment-list
  %comment.primary-content{layout: "column", parent: "", id: "c{{ctrl.comment.path}}", comment: "ctrl.comment"}



%comment-list{layout: "column"}
  %div{ng-repeat: "notification in ctrl.notifications", ng-switch: "notification.entityable"}
    %comment.primary-content{ng-switch-when: "comment", layout: "column", parent: "", id: "c{{ctrl.comment.path}}", comment: "ctrl.comment"}

