%md-toolbar.md-primary.md-hue-2{md-scroll-shrink: "true"}
  .md-toolbar-tools
    %md-tabs.md-primary.md-hue-2
      %md-tab{label: "hot"}
      %md-tab{label: "new"}
      %md-tab
        %md-tab-label
          top
%md-content#comments
  %comment{parent: "", layout: "column", ng-repeat: "child in page.comments",id: "c{{child.path}}", comment: "child"}

