#notifications-container{layout-padding: true, layout-margin: true, layout: "column", layout-fill: true}
  %notification-view.md-whiteframe-z1{layout: "row"}
  %notification{ng-repeat: "entity in notifiable_entities", entity: "entity"}
        