%md-content#chutter-list{layout: "column"}
  %md-button{aria-label: "notification", ng-repeat: "subscription in page.notificationSubscriptions", ng-switch: "subscription.entityable", ui-sref-active: "md-primary",  ui-sref: "home.notifications.{{subscription.entityable}}Notifications({id: subscription.id})"}
      %div{layout: "row", layout-align: "start center"}
        %div{flex: "10"}
          %i.icon.ion-ios-chatbubble
        %div
          %h6{ng-bind: "::(('Re: ' + subscription.title | limitTo: 30) + '...')"}
      %div.tagline{layout: "row"}
        %div{flex: "10"}
        %div
          %p{ng-bind: "(subscription.unread_count || 0) + ' unread notifications' "}
