%md-content.detailed-list{flex: true, role: "navigation", layout-fill: true, layout: "column"}
  .detailed-list-item{ng-repeat: "subscription in page.notificationSubscriptions", layout: "row"}
    %md-button{ng-if: "subscription.entityable == 'post'", flex: "true", ui-sref: "home.notifications.{{subscription.entityable}}Notifications({id: subscription.id})", ui-sref-active: "md-primary", layout: "column", layout-align: "center start"}
      %div{layout: "row", layout-align: "start center"}
        %p{flex: "true"} {{::subscription.title}}
      .tagline
        %span{ng-bind: "notificationCountText(subscription)"}
        %span.red-cta{ng-if: "::(subscription.unread_count > 0)"}
          ({{subscription.unread_count}} new)
    %md-button{ng-if: "subscription.entityable == 'comment'", flex: "true", ui-sref: "home.notifications.{{subscription.entityable}}Notifications({id: subscription.id})", ui-sref-active: "md-primary", layout: "column", layout-align: "center start"}
      %div{layout: "row", layout-align: "start center"}
        %p{flex: "true"} "{{::subscription.body}}"
      .tagline
        %span{ng-bind: "notificationCountText(subscription)"}
        %span.red-cta{ng-if: "::(subscription.unread_count > 0)"}
          ({{subscription.unread_count}} new)
