%div{ng-switch: "viewer.entity.entityable", layout: "column", flex: true}
  %div{ng-switch-when: "comment"}
  
  %div{ng-switch-when: "post"}
    .entity-header{layout: "row", layout-align: "start center", layout-padding: true}
      %a{ng-bind: "'Re: ' + viewer.entity.title", href: "#"}
      %span{flex: true}
      %md-button.md-icon-button{ng-click: "close()"}
        %i.fa.fa-close.fa-fw
    %md-content.notifications-list-content
      .notifications-list{ng-repeat: "notification in viewer.notifications", ng-switch: "notification.entityable"}
        .notification-list-item{ng-switch-when: "comment", layout: "row"}
          .context
            %md-button.md-fab.md-mini.md-primary
              %i.fa.fa-comments.fa-fw
          .content{layout: "row", layout-align: "start center"}
            .mentionable
              %h4{ng-bind: "notification.username"}
            .tagline{flex: true} 
              %p{ng-bind: "notification.body"}
        %md-divider

                  
        %div{ng-switch-when: "mention"}
          %span 
            hi
