.context
  %md-button.md-fab.md-mini.md-primary
    %i.fa.fa-align-justify.fa-fw
.content{layout: "row", layout-sm: "column", layout-align: "start center", flex: true}
  .mentionable{flex: "25"}
    %h4{ng-bind: "'Re: ' + entity.title | truncate: 40"}
  .tagline{flex: "50"} 
    %p{ng-bind: "entity.notifications.length + ' new notifications'"}
