%md-button{aria-label: "Community", style: "width: 100%;", ui-sref: "home.community({community: community.slug})", ui-sref-active: "md-primary"}
  %div{flex: true, layout: "row"}
    %span
      {{community.name}}
    %span{flex: true}

    

