%md-button{aria-label: "Community", style: "width: 100%;", ui-sref: "home.community.hot({community: community.slug})"}
  %div{flex: true, layout: "row"}
    %span{ng-bind: "::community.name"}
    %span{flex: true}

    

