.network{layout: "row"}
  %md-button.md-button-toggle.menu-toggle{aria-controls: "{{network.name}}", aria-label: "network", aria-expanded: "false", ng-click:"network.toggle()"}
    %span{ng-bind: "::network.name"}
  %md-button.md-icon-button.md-secondary{ng-click: "editCommunity()"}
    %i.icon.ion-android-options
%ul.menu-toggle-list{id: "{{::network.name}}"}
  %li{ng-repeat: "community in network.communities"}
    %menu-link{network: "network", community: "::community"}
