
%ul.submenu{id: "{{::network.name}}"}
  %li.submenu-list-item{ng-repeat: "community in network.communities"}
    .submenu-list-item-wrapper{menu-link: true, network: "network", community: "::community"}
