.section-content
  .sub-goal{layout: "row", layout-wrap: "layout-wrap", layout-align: "space-between"}
    .header{layout: "row", layout-wrap: "layout-wrap", flex: 100}
      .title{layout: "row", flex: 100, layout-align: "space-between center"}
        .icon-holder{flex: "10"}
          .icon.ion-heart
        %h5{flex: "90"}
          Subscription Goal

      .light.sub-header
        Help us make this site available for the world.
    %md-progress-linear.md-warn{md-mode: "determinate", value: "33"}
    %div{layout: "row", layout-align: "center center", layout-fill: "true"}
      %md-button.md-primary.help{aria-label: "Help Chutter", ng-click: "openSubscriptionDialog()"}
        Help keep Chutter running
  .about{layout: "column"}
    .header{layout: "row", layout-wrap: "layout-wrap", flex: 100}
      .title{layout: "row", flex: 100, layout-align: "space-between center"}
        .icon-holder{flex: "10", style: "height: 36px;"}
          %img{src: "/img/small-logo.png", style: "max-height: 100%;"}
        %h5{flex: "90"}
          Chutter.co
      .light.sub-header
        Is a new place to share best stuff on the web.
    %md-button.md-primary
      Learn more
  .news
    .header{layout: "row", layout-wrap: "layout-wrap", flex: 100}
      .title{layout: "row", flex: 100, layout-align: "space-between center"}
        .icon-holder{flex: "10"}
          .icon.ion-ios-pulse-strong
        %h5{flex: "90"}
          News

      .light.sub-header
        Things happening with Chutter.
    %md-list.special-list
      %md-list-item{layout: "row"}
        .type.update{flex: 15, layout: "column", layout-align: "center center"}
          .ion-pull-request
          %md-tooltip{md-direction: "left"}
            Update
        %md-button.content{layout: "row", flex: true}
          .title{flex: 75}
            Version 2.0
          %span.time.light{layout-align: "end"}
            10. Jun
      %md-list-item{layout: "row"}
        .type.important{flex: 15, layout: "column", layout-align: "center center"}
          .ion-alert-circled
          %md-tooltip{md-direction: "left"}
            Important
        %md-button.content{layout: "row", flex: true}
          .title{flex: 75}
            Security breach
          %span.time.light{layout-align: "end"}
            10. Jun
      %md-list-item{layout: "row"}
        .type.community{flex: 15, layout: "column", layout-align: "center center"}
          .ion-ios-people
          %md-tooltip{md-direction: "left"}
            Community
        %md-button.content{layout: "row", flex: true}
          .title{flex: 75}
            AMA Chutter Dev
          %span.time.light{layout-align: "end"}
            10. Jun