.section-content
  .about
    .header{layout: "column"}
      .title{layout: "row", layout-align: "start center"}
        .icon-holder
          %md-icon{md-svg-src: "/img/character.svg", style: "height: 30px; width: 30px; fill: #000;"}
        %h5.md-title
          Chutter.co
      .color-light.sub-header
        Chutter is a new place to share the best links on the web. 
    .additional-content{layout: "column"}
      %md-button.md-primary.md-raised.md-hue-1{ui-sref: "frontpage.submit"}
        Submit a link
      %md-button.md-primary.md-raised.md-hue-2{ui-sref: "create"}
        Create a community
  .sub-goal
    .header{layout: "column"}
      .title{layout: "row", layout-align: "start center"}
        .icon-holder
          .icon.ion-heart
        %h5.md-title
          Subscription Goal

      .color-light.sub-header
        Help us make this site available for the world.
    .additional-content{layout: "column"}
      %md-progress-linear.md-warn{md-mode: "determinate", value: "20"}
      %md-button.md-primary.help{aria-label: "Help Chutter", ng-click: "openSubscriptionDialog()"}
        Help keep Chutter running
  .news
    .header{layout: "column"}
      .title{layout: "row", layout-align: "start center"}
        .icon-holder
          .icon.ion-ios-pulse-strong
        %h5.md-title
          News
      .color-light.sub-header
        Things happening with Chutter.
    %md-list.special-list
      %div{ng-repeat: "post in news.posts", ng-switch: "post.community_slug"}
        %md-list-item{layout: "row", ng-switch-when: "ideasforchutter"}
          .type.update{flex: 15, layout: "column", layout-align: "center center"}
            .icon.ion-ios-lightbulb-outline
            %md-tooltip{md-direction: "left"}
              Idea
          %md-button.content{ui-sref: "home.community.comments({id: post.slug, community: post.community_slug})",layout: "row", flex: true}
            .title.md-body-1.color-light{flex: 100, ng-bind: "post.title", style: "text-overflow: ellipsis;"}
        %md-list-item{layout: "row", ng-switch-when: "asktheadmins"}
          .type.update{flex: 15, layout: "column", layout-align: "center center"}
            .icon.ion-ios-people
            %md-tooltip{md-direction: "left"}
              Question
          %md-button.content{ui-sref: "home.community.comments({id: post.slug, community: post.community_slug})",layout: "row", flex: true}
            .title.md-body-1.color-light{flex: 100, ng-bind: "post.title", style: "text-overflow: ellipsis;"}
        %md-list-item{layout: "row", ng-switch-when: "announcements"}
          .type.update{flex: 15, layout: "column", layout-align: "center center"}
            .icon.ion-flag
            %md-tooltip{md-direction: "left"}
              Announcement
          %md-button.content{ui-sref: "home.community.comments({id: post.slug, community: post.community_slug})",layout: "row", flex: true}
            .title.md-body-1.color-light{flex: 100, ng-bind: "post.title", style: "text-overflow: ellipsis;"}
        %md-list-item{layout: "row", ng-switch-when: "updates"}
          .type.update{flex: 15, layout: "column", layout-align: "center center"}
            .icon.ion-pull-request
            %md-tooltip{md-direction: "left"}
              Update
          %md-button.content{ui-sref: "home.community.comments({id: post.slug, community: post.community_slug})",layout: "row", flex: true}
            .title.md-body-1.color-light{flex: 100, ng-bind: "post.title", style: "text-overflow: ellipsis;"}