.content
  %h5
    Monthly Sub Goal
  %div
    %md-progress-linear.md-warn{md-mode: "determinate", value: "33"}
  .md-padding{layout: "row", layout-align: "center center"}
    %a
      Help keep Chutter running
  .news
    %h5
      Welcome to Chutter
    %p
      Chutter.co is a new place to share the best stuff on the web. To get started, check out some of the different
      %span.inline-link{ng-click: "editNetworks()"} networks
      When you subscribe to a network for the first time, you are auto-subscribed to their default communities. This can be changed by clicking the slider icon in the left menu upon entering a network.
    %p
      P.S. - just click the post's picture to view an embedded / mirrored version of the link. Otherwise, click the title to visit the actual link.
  #footer
    %md-divider
    .md-toolbar-tools{layout: "row", layout-align: "center center"}
      %a
        help
      %a
        contact
      %a
        bugs
      %a
        faq
      %a
        values
      %a
        rules
