.section-content
  .about{layout: "column"}
    .header{layout: "row", layout-wrap: "layout-wrap", flex: 100}
      .title{layout: "row", flex: 100, layout-align: "start center"}
        .icon-holder
          %md-icon{md-svg-src: "/img/character.svg", style: "height: 30px; width: 30px; fill: #000;"}
        %h5.md-title
          Chutter.co
      .light.sub-header
        Chutter is a new place to share the best links on the web.
    %md-button.md-primary{ui-sref: "create"}
      Create a community
  .sub-goal{layout: "column"}
    .header{layout: "row", layout-wrap: "layout-wrap", flex: 100}
      .title{layout: "row", flex: 100, layout-align: "start center"}
        .icon-holder
          .icon.ion-heart
        %h5.md-title
          Subscription Goal

      .light.sub-header
        Help us make this site available for the world.
    %md-progress-linear.md-warn{md-mode: "determinate", value: "33"}
    %md-button.md-primary.help{aria-label: "Help Chutter", ng-click: "openSubscriptionDialog()"}
      Help keep Chutter running
  .news
    .header{layout: "row", layout-wrap: "layout-wrap", flex: 100}
      .title{layout: "row", flex: 100, layout-align: "start center"}
        %md-button.md-icon-button
          .icon.ion-ios-pulse-strong
        %h5.md-title
          News
      .light.sub-header
        Things happening with Chutter.
    %md-list.special-list
      %md-list-item{layout: "row"}
        .type.update{flex: 15, layout: "column", layout-align: "center center"}
          .ion-pull-request
          %md-tooltip{md-direction: "left"}
            Update
        %md-button.content{layout: "row", flex: true}
          .title{flex: 75}
            Version 2.0
          %span.time.light{layout-align: "end"}
            10. Jun
      %md-list-item{layout: "row"}
        .type.important{flex: 15, layout: "column", layout-align: "center center"}
          .ion-alert-circled
          %md-tooltip{md-direction: "left"}
            Important
        %md-button.content{layout: "row", flex: true}
          .title{flex: 75}
            Security breach
          %span.time.light{layout-align: "end"}
            10. Jun
      %md-list-item{layout: "row"}
        .type.community{flex: 15, layout: "column", layout-align: "center center"}
          .ion-ios-people
          %md-tooltip{md-direction: "left"}
            Community
        %md-button.content{layout: "row", flex: true}
          .title{flex: 75}
            AMA Chutter Dev
          %span.time.light{layout-align: "end"}
            10. Jun