#community-sidebar
  .section-content
    .welcome{layout: "row", layout-wrap: "layout-wrap", layout-align: "space-between"}
      .header{layout: "row", layout-wrap: "layout-wrap", flex: 100}
        .title{layout: "row", flex: 100, layout-align: "start center"}
          %h5.md-title{ng-bind: "'/c/'+community.slug"}
        .color-light.sub-header{ng-bind: "::community.description"}
      %md-button.md-primary.md-hue-1.md-raised{flex: "100", ui-sref: "home.submit"}
        submit
       
      %md-button.md-primary.md-hue-3.md-raised{flex: "100", ng-bind: "::('subscribe to /c/' + community.slug)"}
    .rules
      .header{layout: "row", layout-wrap: "layout-wrap", flex: 100}
        .title{layout: "row", flex: 100, layout-align: "start center"}
          .icon-holder{aria-label: "More rules"}
            .icon.ion-clipboard
            %md-tooltip{md-direction: "left"}
              General rules are rules that apply throughout the community. Rules listed in red could result in banning if they are broken.
          %h5.md-title
            General Rules

        .light.sub-header
          These are what can cause your content to get removed by moderators.
      %md-list
        %md-list-item{ng-repeat: "rule in community.rules"}
          .header{layout: "row", layout-wrap: "layout-wrap"}
            .title{layout: "row", flex: 100, layout-align: "space-between center"}
              %h5{ng-bind: "::rule.category"}
            .color-light.sub-header{ng-bind: "::rule.detailed_explanation"}
    .moderators
      .header{layout: "row", layout-wrap: "layout-wrap", flex: 100}
        .title{layout: "row", flex: 100, layout-align: "start center"}
          %md-button.md-icon-button.md-primary{aria-label: "Contact Moderators"}
            .icon.ion-android-mail
            %md-tooltip{md-direction: "left"}
              %span
                Message Moderators
          %h5.md-title
            Moderators
        .color-light.sub-header
          The force is strong with this ones.
      %md-list.special-list
        %md-list-item{layout: "row", ng-repeat: "moderator in moderators"}
          .type.admin{ng-if: "::moderator.moderation_restricted_from == 0", flex: 15, layout: "column", layout-align: "center center"}
            .icon.ion-key
            %md-tooltip{md-direction: "left"}
              %span
                Admin
          .type.moderator{ng-if: "::moderator.moderation_restricted_from > 0", flex: 15, layout: "column", layout-align: "center center"}
            .icon.ion-settings
            %md-tooltip{md-direction: "left"}
              %span
                Moderator
          %md-button.content{layout: "row", flex: true}
            .title{flex: 75, ng-bind: "::moderator.username"}
    
      %div{layout: "row", layout-align: "center center", layout-fill: "true"}
        %md-button.md-primary.help{ng-if: "user && user.id && page.community.accepting_moderation_requests && !page.community.moderation_position_requested && !page.community.moderates", aria-label: "Help Chutter", ng-click: "requestModerationPosition()"}
          Request to be a moderator
        %md-button.md-primary.help.md-disabled{ng-if: "page.community.moderation_position_requested", aria-label: "Help Chutter"}
          Requested
