%md-divider
#footer{layout-align: "center center", layout: "row"}
  .links{flex: 80}
    %a.color-light
      Help
    %a.color-light
      Report bug
    %a.color-light
      Faq
    %a.color-light
      Values
    %a.color-light
      Rules
    %a.color-light
      Contact
