%md-divider
#footer{layout-align: "center center", layout: "row"}
  .links{flex: 80}
    %a.color-light{href: "https://github.com/chutterbox/chutter", target: "_blank"}
      Report bug
    %a.color-light
      Values
    %a.color-light{href: "mailto:dev@chutter.co?Subject=Chutter%20feedback"}
      Contact/Feedback
