%md-divider
#footer{layout-align: "center center", layout: "row"}
  .links{flex: 80}
    %a
      Help
    %a
      Report bug
    %a
      Faq
    %a
      Values
    %a
      Rules
    %a
      Contact
