.section-content
  .welcome{layout: "row", layout-wrap: "layout-wrap", layout-align: "space-between"}
    .header{flex: 100, layout: "row", layout-wrap: "layout-wrap", flex: 100}
      .title{layout: "row", flex: 100, layout-align: "space-between center"}
        %h5.md-title{ng-bind: "'/n/'+network.slug"}
      .light.sub-header{ng-bind: "'The ' + network.name + ' network'"}
    %md-button.md-primary.md-hue-1.md-raised{flex: "100", ui-sref: "frontpage.submit"}
      Submit a link
    %md-button.md-primary.md-hue-2.md-raised{flex: "100", ui-sref: "frontpage.create"}
      Create a community
    %md-button.md-primary.md-hue-3.md-raised{flex: "100"}
      Subscribe to this network
  .trending-communities{ng-if: "true"}
    .header{layout: "row", layout-wrap: "layout-wrap", flex: 100}
      .title{layout: "row", flex: 100, layout-align: "start center"}
        %md-button.md-icon-button.md-primary
          .icon.ion-stats-bars
          %md-tooltip{md-direction: "left"}
            %span
              More
        %h5.md-title
          Trending Communities
      .color-light.sub-header
        Communities that shine the most
    %md-list{layout: "row", layout-wrap: "layout-wrap", layout-align: "space-between"}
      %md-list-item{flex: 50}
        %md-button{flex: true}
          Rock
      %md-list-item{flex: 50}
        %md-button{flex: true}
          Pop
      %md-list-item{flex: 50}
        %md-button{flex: true}
          Dubstep
      %md-list-item{flex: 50}
        %md-button{flex: true}
          Rap
      %md-list-item{flex: 50}
        %md-button{flex: true}
          Jazz
      %md-list-item{flex: 50}
        %md-button{flex: true}
          Metal
