.section-content
  .welcome{layout: "row", layout-wrap: "layout-wrap", layout-align: "space-between"}
    .header{layout: "row", layout-wrap: "layout-wrap", flex: 100}
      .title{layout: "row", flex: 100, layout-align: "space-between center"}
        %h5
          Welcome
        %md-button.md-icon-button{aria-label: "Subscribe", ng-click: "page.community.toggle(page.community)"}
          .icon{ng-class: "page.community.subscribed ? 'ion-minus-circled': 'ion-plus-circled'"}
          %md-tooltip{md-direction: "left"}
            %span{ng-bind: "page.community.subscribed ? 'Unsubscribe': 'Subscribe'"}
      .light.sub-header{ng-bind: "::page.community.description"}
    .light.small
      1425 Subscribers
  %md-divider
  .rules
    .header{layout: "row", layout-wrap: "layout-wrap", flex: 100}
      .title{layout: "row", flex: 100, layout-align: "space-between center"}
        %h5
          Commenting Rules
        %md-button.md-icon-button{aria-label: "More rules"}
          .icon.ion-android-more-vertical
          %md-tooltip{md-direction: "left"}
            %span
              Rules
      .light.sub-header
        You could get punished if you wont read them!
    %md-list
      %md-list-item{ng-repeat: "rule in page.community.rules"}
        .header{layout: "row", layout-wrap: "layout-wrap"}
          .title{layout: "row", flex: 100, layout-align: "space-between center"}
            %h5{ng-bind: "::rule.category"}
          .light.sub-header{ng-bind: "::rule.detailed_explanation"}