%md-content
  %md-button.md-icon-button.md-primary{ui-sref: "home.conversations.compose"}
    %i.icon.ion-ios-compose-outline
  %md-list
    %md-list-item.md-3-line{ng-repeat: "convo in conversationState.conversations"}
      %a{ui-sref: "home.conversations.conversation({id: convo.id})"}
        .md-avatar
        .md-list-item-text

          %h3{ng-bind: "convo.recipient_name"}
            
          %p{ng-bind: "convo.lru_message"}
