%md-content.detailed-list{flex: true, role: "navigation", layout-fill: true, layout: "column"}
  .detailed-list-item{ng-repeat: "convo in conversationState.conversations", layout: "row"}
    %md-button{ui-sref: "home.conversations.conversation({id: convo.id})", ui-sref-active: "md-primary", layout: "column", layout-align: "center start"}
      %p{ng-bind: "::convo.recipient_name"}
      %span{ng-bind: "::((convo.lru_message | limitTo: 30) + '...')"}
