#conversation-header{layout: "row", flex: true}
  %md-button.md-icon-button{ui-sref: "home.conversations.compose"}
    %i.fa.fa-edit.fa-fw
%md-content
  %md-list
    %md-list-item.md-3-line{ng-repeat: "convo in conversationState.conversations"}
      %a{ui-sref: "home.conversations.conversation({id: convo.id})"}
        .md-avatar
        .md-list-item-text

          %h3{ng-bind: "convo.recipient_name"}
            
          %p{ng-bind: "convo.lru_message"}
