%div{layout: "column", flex: true}
  #conversation-header.md-whiteframe-z1{layout: "row", layout-padding: true}
    %span
      conversation with "username"
    %span{flex: true}
    %md-input-container
      %label
        Filter messages
      %input


  %md-content#content-container{ui-view: "middle", layout-margin: "true"}
    %div{flex: true, layout-fill: true}
      %h1 this needs to be styled with some  landing page text, and a short cut to the compose page (see button in right rail)

%md-sidenav.md-sidenav-right.gray.md-whiteframe-z1{md-component-id: "right", md-is-locked-open: "$mdMedia('gt-md')"}
  %md-content#conversations
    #conversation-header{layout: "row", flex: true}
      %md-input-container{flex: true}
        %label
          Filter
        %input{ng-model: "searchPredicate"}
      %md-button{ui-sref: "home.conversations.compose"}
        %i.fa.fa-edit.fa-fw
    %md-list
      %md-list-item.md-3-line{ng-repeat: "convo in conversationState.conversations"}
        %a{ui-sref: "home.conversations.conversation({id: convo.id})"}
          .md-avatar
          .md-list-item-text

            %h3{ng-bind: "convo.recipient_name"}
              
            %p{ng-bind: "convo.lru_message | truncate:50"}
       