.md-padding{layout: "row", layout-fill: "true", flex: "true"}
  %md-content{flex: "true", layout: "column", layout-align: "start center"}
    %h3.md-title
      What are you interested in?
    %h5.md-subheader
      Take some time to pickout general categories that interest you.
    %md-content#interests-list-content
      %md-list
        %md-list-item{ng-repeat: "network in allNetworks | filter: networkFilter", layout: "row"}
          .subscription-info{layout: "column", flex: 90}
            %h4{ng-bind:"network.name"}
            .stats{ng-if: "false"}
              %span
                %i.fa.fa-user.fa-fw
                2,349
              %span
                %i.fa.fa-sitemap.fa-fw
                {{network.communities_count || 0}}
          %div{layout: "center center", layout-fill: true}
            %md-switch{ng-model: "network.subscribed", aria-label: "Switch 1", ng-change: "toggle(network)"}
    %md-button.md-primary.md-raised{href: "/"}
      All done
 