%md-content.secondary-content  
  %md-list
    %md-list-item
      .md-list-item-text
        %h3
          Privacy
        %p

    %md-list-item{ng-repeat: "(key, value) in privacyItems"}
      .md-list-item-text
        %h3{ng-bind: "::key"}
        %p{marked: "::value"}