%md-toast
  %span{ng-bind: "::(('Re: ' + notification.title + '...') | limitTo: 50)"}
  %span{ng-if: "notification.title.length > 49"} ...
  %md-action
    {{::notification.ephemeral_count}} new notifications