%div{layout: "row", layout-fill: true, flex: true}
  %md-grid-list{flex: true, md-cols-gt-md: "6", md-cols-md: "2", md-cols-sm: "1", md-gutter: "12px", md-gutter-gt-sm: "8px", md-row-height: "2:2", md-row-height-gt-md: "1:1"}
    %md-grid-tile.gray{md-colspan: "2", md-colspan-sm: "1", md-rowspan: "3"}
      %md-grid-tile-header
        %h3 Notifications
      %md-list
        %md-list-item
          \/u/bob commented on your post
        %md-list-item
          \/u/jim has fucked you in the ass
        %md-list-item
          You've been banned from shilling in /c/conspiracy
    %md-grid-tile.green
      %md-grid-tile-header
        %h3 MirrorNinja
    %md-grid-tile.red{md-colspan: "2", md-colspan-sm: "1", md-rowspan: "2"}
      %md-grid-tile-header
        %h3 Message the admin
    %md-grid-tile.green{md-rowspan: "2"}
      %md-grid-tile-footer
        %h3 #6: (2r x 1c)
    %md-grid-tile.blue{md-rowspan: "2"}
      %md-grid-tile-footer
        %h3 #4: (2r x 1c)