!!! 5
%html{lang: "en", ng-app: "MeApp", xmlns:ng: "http://angularjs.org"}
  %head
    %base{href: "/me/"}

    %link{rel: "icon", type:"image/png", href: "favicon.ico"}
    %link{rel: "shortcut icon", type:"image/png", href: "favicon.ico"}
    %meta{name: "fragment", content: "!"}
    %meta{charset: "utf-8"}
    %meta{content: "telephone=no", name: "format-detection"}
    %meta{content: "width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no", name: "viewport"}
    %meta{content: "ZYCtjzD0MQsstNXtDL7ZQyRzkj61deTZWYgEeMmCGdY", name: "google-site-verification"}
    %title Chutter &mdash;
 

    %body{layout: "column", flex: "true", md-theme: "{{theme}}"}
      %div{ui-view: "toolbar"}
      %md-content.md-whiteframe-z1.secondary-content{layout: "row", flex: "true"}
        %ui-view{layout: "column", flex: "true"}
          .ng-cloak{flex: "true", layout: "column", layout-align: "center center"}
            %h3.md-title
              No notifications ... yet!
            %p.md-subheader
              Speak your mind - comment on a post, or submit something you think is interesting. 
        %md-sidenav.md-sidenav-right#sidenav-list{md-component-id: "right", md-is-locked-open: "$mdMedia('gt-md')"}
          %md-content{ui-view: "right-rail", layout: "column", layout-fill: "layout-fill"}
          %span{flex:true}
          %footer-sidebar



    %script{src: "/js/compiled/application.min.js"}
    %script{src: "/js/compiled/me.min.js"}
    %script{src: "//platform.twitter.com/widgets.js"}
    %script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-67283779-1', 'auto');
      ga('send', 'pageview');
    %link{href: "https://www.chutter.co/", rel: "canonical"}
    %link{href: "/vendor/ionicons/css/ionicons.min.css", rel: "stylesheet", type: "text/css"}
    %link{href: "/vendor/angular-chart.js/dist/angular-chart.css", rel: "stylesheet", type: "text/css"}
    %link{href: "/css/compiled/application.css", rel: "stylesheet", type: "text/css"}
    %link{href: "/css/me.css", rel: "stylesheet", type: "text/css"}
    