%md-content{layout: "row", flex: true, layout-align: "end end"}
  %md-toolbar.md-whiteframe-z1.md-tall#main-toolbar
    .md-toolbar-tools{ng-hide: "user && user.id", layout: "row"}
      .toolbar-container{layout: "row"}
        %img{ng-src: "(/vendor/mr-chutter.png", style: "width: 35px; height: 35px;"}
        %a#brand{ui-sref: "home.all", flex: true, ng-click: "toggleLeft()"}
          Chutter
        %md-button{ng-show: "$mdMedia('lt-md')", ng-click: "toggleLeft()"}
          %i.fa.fa-list
      %span{flex: true}
      .toolbar-container{layout: "row", layout-align: "end end"}
        %md-button{ng-click: "signIn()"}
          Sign In
    
    .md-toolbar-tools{ng-show: "user && user.id", layout: "row", flex: "100"}
      .toolbar-container{layout: "row"}
        %img{ng-src: "/vendor/mr-chutter.png", style: "width: 35px; height: 35px;", hide-sm: true}
        %a#brand{ui-sref: "home.all", flex: true, ng-click: "toggleLeft()", hide-sm: true}
          Chutter
        %md-button.md-icon-button{ng-click: "toggleLeft()", hide-gt-sm: true}
          %i.fa.fa-align-justify.fa-fw
      %span{flex: true}
      .toolbar-container{hide-sm: true, hide-md: true, layout: "row", layout-align: "end end"}
        %md-button{ng-if: "user.moderator", href: "/moderation", target: "_self"}
          moderation
        %md-button{ng-if: "user.manager", href: "/management", target: "_self"}
          management
        %md-button{href: "/me/notifications", ng-bind: "user.username", target: "_self"}
        %md-button{href: "/me/conversations", target: "_self", hide-sm: true}
          %i.fa.fa-envelope-o.fa-fw
          %md-tooltip
            Messages
        %md-button{ng-click: "logout()", hide-sm: true}
          %i.fa.fa-sign-out.fa-fw
          %md-tooltip
            Log out
    .md-toolbar-tools.md-toolbar-tools-bottom{layout: "row"}
      .toolbar-container{layout: "row", layout-align: "center center"}
        %span{ng-bind: "::user.username", flex: true}
        %span{flex: true}
      %span{flex: true}
      .toolbar-container{layout: "row", layout-align: "center center", ng-if: "$state.current.name.indexOf('conversations') > -1"}
        .nav-list-item{layout: "row"}
          %md-button{layout: "row", layout-align: "center start"}
            %p Conversations
          %md-button.secondary-action.md-icon-button{layout: "row", layout-align: "center center", ui-sref: "home.conversations.compose"}
            %span.ion-ios-compose{aria-controls: "compose", aria-label: "compose message"} 
      .toolbar-container{layout: "row", layout-align: "center center", ng-if: "$state.current.name.indexOf('notifications') > -1"}
        .nav-list-item{layout: "row"}
          %md-button{layout: "row", layout-align: "center start"}
            %p
              Notifications
                 
  %md-sidenav.md-sidenav-left{md-component-id: "left", md-is-locked-open: "$mdMedia('gt-md')"}
    %md-content.nav-list{flex: true, role: "navigation", layout-fill: true, layout: "column"}
      .nav-list-item
        %md-button{aria-label: "Inbox", ui-sref: "home.notifications", ui-sref-active: "md-primary",layout: "row", layout-align: "center center"}
          Notifications
      .nav-list-item
        %md-button{aria-label: "Inbox", ui-sref: "home.conversations", ui-sref-active: "md-primary", layout-align: "center start"}
          Inbox
      .nav-list-item
        %md-button{aria-label: "Inbox", ui-sref: "home.submissions", ui-sref-active: "md-primary", layout-align: "center start"}
          Submissions
      .nav-list-item 
        %md-button{aria-label: "Saved", ui-sref: "home.saved_posts", ui-sref-active: "md-primary", layout-align: "center start"}
          Saved Posts
      .nav-list-item
        %md-button{aria-label: "Preferences", ui-sref: "home.preferences", ui-sref-active: "md-primary", layout-align: "center start"}
          Preferences
      .nav-list-item
        %md-button{aria-label: "Stats", ui-sref: "home.stats", ui-sref-active: "md-primary", layout-align: "center start"}
          Stats            
  %md-content.md-whiteframe-z1#content{flex: true, layout: "row"}
    %ui-view{layout: "column", layout-fill: "true"}

  %md-sidenav.md-sidenav-right{md-component-id: "right", md-is-locked-open: "$mdMedia('gt-md')"}
    %div{layout: "column", ui-view: "right-rail"}