%md-content{layout: "row", flex: true, layout-align: "end end"}
  %md-toolbar.md-whiteframe-z1.md-tall#me-toolbar

    %main-toolbar

    .md-toolbar-tools.md-toolbar-tools-bottom{layout: "row", layout-align: "space-between"}
      .toolbar-container.no-padding{layout: "row", layout-align: "center center"}
        .nav-list-item
          .page-title.md-title{ng-bind: "::user.username"}
      .toolbar-container{layout: "row", layout-align: "space-between center", ng-if: "$state.current.name.indexOf('conversations') > -1"}
        .nav-list-item{layout: "row"}
          %md-button{layout: "row", layout-align: "center start", ui-sref: "home.conversations"}
            %p Conversations
          %md-button.secondary-action.md-icon-button{layout: "row", layout-align: "center center", ui-sref: "home.conversations.compose"}
            %span.ion-ios-compose{aria-controls: "compose", aria-label: "compose message"} 
      .toolbar-container{layout: "row", layout-align: "space-between center", ng-if: "$state.current.name.indexOf('notifications') > -1"}
        .nav-list-item{layout: "row"}
          %md-button{layout: "row", layout-align: "center start"}
            %p
              Notifications

  %md-sidenav.md-sidenav-left{md-component-id: "left", md-is-locked-open: "$mdMedia('gt-md')"}
    %md-content.nav-list{flex: true, role: "navigation", layout-fill: true, layout: "column"}
      .nav-list-item
        %md-button{aria-label: "Inbox", ui-sref: "home.notifications", ui-sref-active: "md-primary",layout: "row", layout-align: "center center"}
          Notifications
      .nav-list-item
        %md-button{aria-label: "Inbox", ui-sref: "home.conversations", ui-sref-active: "md-primary", layout-align: "center start"}
          Inbox
      .nav-list-item
        %md-button{aria-label: "Inbox", ui-sref: "home.submissions", ui-sref-active: "md-primary", layout-align: "center start"}
          Submissions
      .nav-list-item 
        %md-button{aria-label: "Saved", ui-sref: "home.saved_posts", ui-sref-active: "md-primary", layout-align: "center start"}
          Saved Posts
      .nav-list-item
        %md-button{aria-label: "Preferences", ui-sref: "home.preferences", ui-sref-active: "md-primary", layout-align: "center start"}
          Preferences
      .nav-list-item
        %md-button{aria-label: "Stats", ui-sref: "home.stats", ui-sref-active: "md-primary", layout-align: "center start"}
          Stats            
  %md-content.md-whiteframe-z1#content{flex: true, layout: "row"}
    %ui-view{layout: "column", layout-fill: "true"}

  %md-sidenav.md-sidenav-right{md-component-id: "right", md-is-locked-open: "$mdMedia('gt-md')"}
    %div{layout: "column", ui-view: "right-rail"}