%md-menu
  %md-button.md-icon-button{aria-label: "change theme", ng-click: "$mdOpenMenu($event)"}
    .icon.ion-android-color-palette
  %md-menu-content.theme-list
    %md-button{aria-label: "change theme", ng-click: "switchTheme('chutter')"}
      .theme-chutter
        Chutter
    %md-button{aria-label: "change theme", ng-click: "switchTheme('chutterDark')"}
      .theme-chutter-dark
        Chutter Dark
    %md-button{aria-label: "change theme", ng-click: "switchTheme('chutterTeal')"}
      .theme-chutter-teal
        Chutter Teal
    %md-button{aria-label: "change theme", ng-click: "switchTheme('chutterOrange')"}
      .theme-chutter-orange
        Chutter Orange
    %md-button{aria-label: "change theme", ng-click: "switchTheme('chutterPink')"}
      .theme-chutter-pink
        Chutter Pink