%md-toolbar.md-primary.md-hue-2{md-scroll-shrink: "true", layout-align: "center", layout: "column"}
  .md-toolbar-tools
    .md-subhead
      %h2
        Statistics
%md-content.primary-content.dashboard{layout: "row", layout-wrap: true, layout-margin: true}

  .item.md-padding{layout: "column", ng-if: "submission_distribution", layout-align: "center space-between", flex: true}
    .header{layout-align: "space-between center", layout: "row"}
      .md-title
        Post Distribution
        .md-body-1
          Most active communities
      %md-button.md-icon-button
        %i.icon.ion-eye
        %md-tooltip
          Make private
    %md-divider
    .content{layout: "row", layout-fill: "true", layout-align: "center center"}
      %canvas#doughnut.chart.chart-doughnut{click: "onClick", data: "submission_distribution.data", labels: "submission_distribution.labels", legend: "true"}
  .item.md-padding{layout: "column", ng-if: "comment_distribution", layout-align: "center space-between", flex: true}
    .header{layout-align: "space-between center", layout: "row"}
      .md-title
        Comment Distribution
        .md-body-1
          Where you chat the most
      %md-button.md-icon-button
        %i.icon.ion-eye
        %md-tooltip
          Make private
    %md-divider
    .content{layout: "row", layout-fill: "true", layout-align: "center center"}
      %canvas#doughnut.chart.chart-doughnut{click: "onClick", data: "comment_distribution.data", labels: "comment_distribution.labels", legend: "true"}
  .item.md-padding{layout: "column", ng-if: "domain_distribution", layout-align: "center space-between", flex: true}
    .header{layout-align: "space-between center", layout: "row"}
      .md-title
        Domain Distribution
        .md-body-1
          What things are you posting
      %md-button.md-icon-button
        %i.icon.ion-eye
        %md-tooltip
          Make private
    %md-divider
    .content{layout: "row", layout-fill: "true", layout-align: "center center"}
      %canvas#doughnut.chart.chart-doughnut{click: "onClick", data: "domain_distribution.data", labels: "domain_distribution.labels", legend: "true"}
  .item.md-padding{layout: "column", ng-if: "point_distribution", layout-align: "center space-between", flex: true}
    .header{layout-align: "space-between center", layout: "row"}
      .md-title
        Point Distribution
        .md-body-1
          Where you are praised the most
      %md-button.md-icon-button
        %i.icon.ion-eye
        %md-tooltip
          Make private
    %md-divider
    .content{layout: "row", layout-fill: "true", layout-align: "center center"}
      %canvas#bar.chart.chart-bar{data: "point_distribution.data", labels: "point_distribution.labels"}
