%md-content.primary-content.md-padding{layout: "column"}
  %h2.md-display-1
    Permitted Post Types
  %p.md-body-1
    Pick the type of links that can be submitted to your community
  %div{layout: "column"}
    %md-checkbox{ng-model: "newCommunity['webpage']", aria-label: "Checkbox 1"}
      Webpage (links)
    %md-checkbox{ng-model: "newCommunity['video']", aria-label: "Checkbox 1"}
      Videos
    %md-checkbox{ng-model: "newCommunity['image']", aria-label: "Checkbox 1"}
      Images/gifs
    %md-checkbox{ng-model: "newCommunity['music']", aria-label: "Checkbox 1"}
      Music
    %md-checkbox{ng-model: "newCommunity['discussion']", aria-label: "Checkbox 1"}
      Discussion (self)
  %div{ng-if: "false"}
    %p.md-subhead
      Rating :
    %div
      %md-checkbox
        SFW
      %md-checkbox
        NSFW
      %md-checkbox
        NSFL
  %div{layout: "row"}
    %md-button.md-raised.md-primary{ng-click: "back()"}
      Back: Change Details
    %span{flex: true}
    %md-button.md-raised.md-primary{ng-disabled: "detailsValid()", ng-click: "next()"}
      Next: Review
