%md-content.primary-content.md-padding{layout: "column"}
  %h2.md-display-1
    Permitted Post Types
  %p.md-body-1
    Pick the type of links that can be submitted to your community

  %div{ng-if: "false"}
    %p.md-subhead
      Rating :
    %div
      %md-checkbox
        SFW
      %md-checkbox
        NSFW
      %md-checkbox
        NSFL
  %div{layout: "row"}
    %md-button.md-raised.md-primary{ng-click: "back()"}
      Back: Change Details
    %span{flex: true}
    %md-button.md-raised.md-primary{ng-disabled: "detailsValid()", ng-click: "next()"}
      Next: Review
