%md-content{layout: "row", flex: true, layout-align: "end end"}
  %md-toolbar.md-whiteframe-z1.md-tall#main-toolbar

    %main-toolbar

    .md-toolbar-tools.md-toolbar-tools-bottom{layout: "row", layout-align: "space-between"}
      .toolbar-container.no-padding{layout: "row", layout-align: "center center"}
        .nav-list-item
          .page-title.md-title
            Create a community
      .toolbar-container{layout: "row", layout-align: "space-between center"}

  %md-sidenav.md-sidenav-left{md-component-id: "left", md-is-locked-open: "$mdMedia('gt-md')"}
    %md-content.nav-list.secondary-content{flex: true, role: "navigation", layout-fill: true, layout: "column"}
      .nav-list-wrapper.md-padding
        .nav-list-item
          %p Some rules

  #content.md-whiteframe-z1{flex: true, layout: "column", layout-fill: "true"}
    %md-content.primary-content
      %md-toolbar.md-primary.md-hue-2{md-scroll-shrink: "true", layout-align: "center", layout: "column"}
        .md-toolbar-tools{ng-switch: "page.scope", layout: "row", layout-fill: "true"}
          .progress-bar{layout: "column", flex: true}
            .icons-wrap{layout: "row", layout-align: "space-between"}
              .section{flex: true, layout: "column", ng-class: "{'success' : newCommunity.network_id }"}
                .wrap{layout: "row", layout-fill: true, layout-align: "start center"}
                  .icon{ng-class: "selectedStep == 0  ? 'ion-ios-circle-filled' : (!newCommunity.network_id ? 'ion-ios-circle-outline' : 'ion-ios-checkmark')"}
                  .line
              .section{flex: true, layout: "column", ng-class: "{'success' : nameValid()}"}
                .wrap{layout: "row", layout-fill: true, layout-align: "start center"}
                  .icon{ng-class: "selectedStep == 1  ? 'ion-ios-circle-filled' : (!nameValid() ? 'ion-ios-circle-outline' : 'ion-ios-checkmark')"}
                  .line
              .section{flex: true, layout: "column", ng-class: "!detailsValid() ? '' : 'success'"}
                .wrap{layout: "row", layout-fill: true, layout-align: "start center"}
                  .icon{ng-class: "selectedStep == 2  ? 'ion-ios-circle-filled' : (!detailsValid() ? 'ion-ios-circle-outline' : 'ion-ios-checkmark')"}
                  .line
              .section{flex: true, layout: "column", ng-class: "!detailsValid() ? '' : 'success'"}
                .wrap{layout: "row", layout-fill: true, layout-align: "start center"}
                  .icon{ng-class: "selectedStep == 3  ? 'ion-ios-circle-filled' : (!detailsValid ? 'ion-ios-circle-outline' : 'ion-ios-checkmark')"}
                  .line
              .section{layout: "column", ng-class: "!detailsValid() ? '' : 'success'"}
                .wrap{layout: "row", layout-fill: true, layout-align: "start center"}
                  .icon{ng-class: "selectedStep == 4  ? 'ion-ios-circle-filled' : (!detailsValid ? 'ion-ios-circle-outline' : 'ion-ios-checkmark')"}
            .wrap{layout: "row", layout-align: "space-between"}
              .caption
                Network
              .caption
                Details
              .caption
                Rules
              .caption
                Customize
              .caption
                Review

      #create-community{layout: "column", layout-fill: "true"}
        %md-tabs{md-no-pagination: "true",  md-no-bar: "true",  md-dynamic-height: "true", layout-fill: "true", md-border-bottom: true, md-selected: "selectedStep"}
          %md-tab{label: "network"}
            %md-content.primary-content
              %create-community-network
          %md-tab{label: "details"}
            %md-content.primary-content
              %create-community-details
          %md-tab{label: "rules"}
            %md-content.primary-content
              %create-community-rules
          %md-tab{label: "customize"}
            %md-content.primary-content
              %create-community-customize
          %md-tab{label: "review"}
            %md-content.primary-content
              %create-community-review


  %md-sidenav.md-sidenav-right.secondary-content{md-component-id: "right", md-is-locked-open: "$mdMedia('gt-md')", layout: "column", layout-align: "space-between"}
    %md-content.secondary-content{ui-view: "right-rail", layout: "column"}
    %footer-sidebar.secondary-content

