%md-content
  .md-padding{layout: "column", layout-align: "start center"}
    %h4.md-title 
      Start A Community
    %h6.md-subheader
      And we'll give you all the tools you need to moderate it.
    %p{ng-if: "unavailable"}
      Ouch, looks like chutter is having trouble signing you up, email dev@chutter.co for help. Or try again in a few minutes.
    #errors
      %p{ng-repeat: "error in serverErrors", ng-bind: "error"} 
  %div{layout: "row", layout-align: "center center"}
    %form.md-padding{flex: "80", name: "newCommunityForm"}
      .md-padding
        %md-input-container
          %label Community Name
          %input{ng-model-options: "{ debounce: 500 }", ng-minlength: "3", md-maxlength: "25", ng-pattern: "/^[a-zA-Z0-9_]+$/", name: "name", ng-model: "newCommunity.name", required: "true", unique-username: "true"}
          %div{ng-messages: "newCommunityForm.name.$error"}
            %div{ng-message: "required"} This is required.
            %div{ng-message: "md-maxlength"} Your username should be less than 25 characters long.
            %div{ng-message: "unique"} username is already taken :( 
            %div{ng-message: "pattern"} Community names must be 3-25 characters long, and may only contain a-z (lowercase), 0-9, or underscore/hyphen characters
      .md-padding
        %md-input-container
          %label
            Network
          %md-select{name: "network_id", ng-model: "newCommunity.network_id"}
            %md-option{ng-repeat: "network in networks", value: "{{network.id}}"} {{network.name}}
          %div{ng-messages: "newCommunityForm.network_id.$error"}
            %div{ng-message: "required"} This is required.
      %md-subheader
        Rules
      .md-padding
        %md-button.md-primary{ng-click: "createCommunityRule($event)"}
          Create Rule
        %div{layout: "row"}
          %div
            %md-list
              %md-list-item.md-3-line{ng-repeat: "rule in newCommunity.rules_attributes"}
                .md-list-item-text
                  %h3{ng-bind: "rule.category"}
                  %h4{ng-bind: "rule.detailed_explanation"}
                  %p{ng-if: "rule.general"}
                    Applies To: The General Community
                  %p{ng-if: "rule.posts"}
                    Applies To: Posts
                  %p{ng-if: "rule.comments"}
                    Applies To: Comments
                  %p{ng-if: "rule.discouraged"}
                    Severity: Discouraged
                  %p{ng-if: "rule.removal"}
                    Severity: Removal
                  %p{ng-if: "rule.ban"}
                    Severity: Ban
      %md-button.md-primary.md-raised{aria-label: "register", flex: true, ng-disabled: "newCommunityForm.$invalid", type: "submit", ng-click: "submit()"}
        Create