%md-content.md-padding{layout: "column"}
  %h2.md-display-1
    Select a network
  %p.md-body-1
    Your community needs to belong to a network. For example, a football community would belong to the "Sports" network. Lastly, you'll want to make sure you're subscribed to the network you're making a community in.
  %div{layout: "column", style: "margin-top: 10px;"}
    %div
      %md-radio-group{ng-model: "flowState.selectedNetwork"}
        %md-radio-button.md-primary{ng-repeat: "network in networks", ng-value: "network"} {{network.name}}

    %md-button.md-raised.md-primary{ng-disabled: "!newCommunity.network_id", ng-click: "next()"}
      Next: Community Details