%md-content.md-padding{layout: "column"}
  %h2.md-display-1
    Community Rules
  %p.md-body-1
    Add community specific rules. These rules should be complimentary to the selected network's content policy. These rules should serve as guidelines for the community and should not simply be a duplication of site-wide or network-wide rules/policies (an example of a community rule could be "no punchlines in the title"). These rules will allow users to report posts for violating these rules, and also empower mods to cite one of these rules upon removal of any content.
  %div{layout: "row"}
    %div
      %md-list
        %md-list-item.md-3-line{ng-repeat: "rule in newCommunity.rules_attributes"}
          .md-list-item-text
            %h3{ng-bind: "rule.category"}
            %h4{ng-bind: "rule.detailed_explanation"}
            %p{ng-if: "rule.general"}
              Applies To: The General Community
            %p{ng-if: "rule.posts"}
              Applies To: Posts
            %p{ng-if: "rule.comments"}
              Applies To: Comments
            %p{ng-if: "rule.discouraged"}
              Severity: Discouraged
            %p{ng-if: "rule.removal"}
              Severity: Removal
            %p{ng-if: "rule.ban"}
              Severity: Ban
    %span{flex: true}
    .create-rule{layout: "column", layout-align: "end"}
      %md-button.md-raised.md-primary#rule-target{ng-click: "createCommunityRule()"}
        Create Rule

  %div{layout: "row"}
    %md-button.md-raised.md-primary{ng-disabled: "!newCommunity.network_id", ng-click: "back()"}
      Back: Details
    %span{flex: true}
    %md-button.md-raised.md-primary{ng-disabled: "detailsValid()", ng-click: "next()"}
      Next: Customize