@import '../../vendor/sass-material-colors/sass/sass-material-colors'
//------------------------------
// Variables & Mixins
//------------------------------
@mixin min-and-max-width($width) 
  width: $width
  min-width: $width
  max-width: $width
@mixin min-and-max-height($height) 
  height: $height
  min-height: $height
  max-height: $height

$sidenav-width: 16vw
$sidenav-padding: 0 1.25vw

$four-three-width:  100vw - ($sidenav-width * 2) - 6vw
$four-three-height:  ($four-three-width * .75)
$four-three-height-scaled: $four-three-height * 0.1
$four-three-width-scaled: $four-three-width * 0.1

$four-three-width-mobile:  100vw
$four-three-height-mobile:  ($four-three-width-mobile * .75)
$four-three-height-scaled-mobile: $four-three-height-mobile * 0.2

$sidenav-z-index-sm: 25
$sidenav-z-index-lg: 18

$content-z-index-sm: 22
$content-z-index-lg: 22

$toolbar-z-index: 19

$a-size-lg: 1.1em
$span-small-size: 0.9em
$h6-size: 1em
$h5-size: 1em

//------------------------------
// Global / Overrides
//------------------------------
a
  text-decoration: none
h1,h2,h3,h4,h5,h6,p,span, a
  text-rendering: optimizeLegibility
h6
  font-size: $h6-size
h5
  font-size: $h5-size
.md-fab
  .icon
    font-size: 25px
.md-mini
  .icon
    font-size: 17px

body
  overflow: hidden

md-tabs
  md-tab-item
    max-width: none !important
  md-content
    background-color: #fff //todo: set .primary-content as alternative
    &.detailed-list
      background-color: #f2f2f2 //todo: set .primary-content as alternative

md-bottom-sheet
  padding: 0 0 80px 0
  border-top: 0
  width: 90vw
  margin: auto
  @media(max-width: 960px)
    width: 100vw
#authenticate,
#register
  width: 30%
  #errors
    p
      font-size: 0.8em
      color: material-color("red", "500")
.button-link
  // This can be used to create md-button with theme color(md-primary/md-accent) but make it look like link
  // You also need to add [md-no-ink="true"] attribute to md-button
  padding: 0
  margin: 0
  line-height: inherit
  min-height: 0
  min-width: 0
  vertical-align: middle
  text-transform: none
  &:hover
    background-color: transparent !important

//------------------------------
// Custom sidenav overrides using vw/vh units
//------------------------------
md-sidenav.md-locked-open
  @include min-and-max-width($sidenav-width)
  height: auto
  z-index: $sidenav-z-index-lg
  
md-sidenav,
md-backdrop.md-sidenav-backdrop
  background: material-color('grey', '100')
  z-index: $sidenav-z-index-lg
  overflow: auto
  @media(max-width: 960px) 
    z-index: $sidenav-z-index-sm

//------------------------------
// Vote icons
//------------------------------
i,
.icon
  &.active-up
    color: rgb(3,169,244)
  &.active-down
    color: rgb(244,67,54)

#submit
  md-autocomplete 
    width: 100%
    min-width: 100%

.inline-link
  // Not sure this is used anymore, can it be removed? Alternative is .button-link on line of 79 this file
  color: rgb(3,169,244) // Should be getting it from md-primary
  cursor: hand
  margin-right: 4px

.md-toolbar-tools
  //set base font size
  font-size: 14px








//------------------------------
// main content area
// this is all the css relating to the center md-content section
//------------------------------
#content
  // overlay tall toolbar with the main content
  height: calc(100vh - 32px)
  overflow: hidden
  position: relative
  z-index: $content-z-index-lg
  @media(max-width: 960px) 
    z-index: $content-z-index-sm
.ng-cloak
  display: none !important


.header-caption-wrapper
  margin: 5% 0 0 0
  h2
    margin: 0

.image
  -webkit-transform-style: preserve-3d
  -webkit-transform: translate3d(0,0,0)

//------------------------------
// Edit subscriptions card
//------------------------------
.subscription-card
  margin: 10px 0
  .subscription-info
    h4
      color: #000
      margin: 0
    span
      color: #757575
    .stats
      span
        margin-right: 5px
        color: #999

#subscription-section
  md-icon
    height: 40px
    width: 40px
    i
      font-size: 40px

//------------------------------
// Conversation / Messages
//------------------------------
#conversation
  width: 95%
  height: 100%
  padding: 0 2.5%
  @media(max-width: 960px)
    width: 100%
    padding: 0
  .load-more
    margin-top: 10px
  .item
    position: relative
    margin-top: 10px
  .message
    max-width: 80%
    word-wrap: break-word
    background: #fff
    .body
      .text
        margin: 0 0 2.5px 0
        font-size: 0.95em
      .time
        margin: 0
        color: material-color('grey', '600')
        font-size: 0.7em
  .you
    margin-right: 15px
    .message
      background: material-color('grey', '100')
    &:after
      border: solid 10px transparent
      border-top-color: material-color('grey', '100')
      border-left-color: material-color('grey', '100')
      position: absolute
      right: -10px
      top: 8px
      height: 0
      content: ""
  .other-participant
    margin-left: 15px
    .message
      background: material-color('indigo', '300')
      .body
        .time,
        .text
          color: #fff
    &:before
      border: solid 10px transparent
      border-top-color: material-color('indigo', '300')
      border-right-color: material-color('indigo', '300')
      position: absolute
      left: -10px
      top: 8px
      height: 0
      content: ""
  .item.other-participant + .item.other-participant
    margin-top: -10px
    &:before
      border: none
  .item.you + .item.you
    margin-top: -10px
    &:after
      border: none
//-------------------
// registration
//-------------------
#interests-list-content
  width: 60%
#registration-welcome
  form
    width: 50%
//------------------------------
// Fixes
//------------------------------
[layout-fill]
  height: inherit // Chrome layout-fill fix @/angular/material/issues/2058
