//global
body,
md-sidenav,
md-content
  background: #f2f2f2

md-dialog
  md-content
    background: #fff


i
  &.active-up
    color: rgb(3,169,244)
  &.active-down
    color: rgb(244,67,54)
#create
  md-content
    background: #fff
#submit
  md-autocomplete 
    width: 100%
    min-width: 100%
  md-tabs
    md-content
      background: #fff



// toolbar css. this is all the css relating to the toolbars
// section specific toolbar css will be located in <appname>.sass
md-toolbar
  transform: translate3d(0,0,0)
  -webkit-transform: translate3d(0,0,0)
  position: absolute
  z-index: 20
  .md-toolbar-tools
    padding: 0
  .md-button
    padding: 0
    margin: 10px
    min-width: auto
    text-transform: none
  .toolbar-container
    padding: 0 16px
    width: 304px
    min-width: 304px
    max-width: 304px
  md-fab-speed-dial
    position: absolute
    right: 0
    top: 75%

// we don't want bottom sheet toolbars positioned absolutley, nor dialog's toolbars
md-bottom-sheet,
md-dialog
  md-toolbar
    position: relative

#scrolly-left,
#scrolly-right
  margin-top: 64px
  transform: translateY(64px)
  -webkit-transform: translateY(64px)
#scrolly-right
  padding: 16px    
  md-content
    h5 
      color: #616161 
    .stat-card
      margin-right: 8px
    p
      color: #616161 
      font-size: 12px 
    .md-list-item-text
      padding-top: 0
      h5
        margin: 0     
 

table
  th
    padding: 8px 0
  th
    text-align: left





// main content area
// this is all the css relating to the center md-content section

// overlay tall toolbar with the main content 
#content
  margin-top: 64px
  md-bottom-sheet
    padding: 0 0 88px 0
  z-index: 21
  background: #fff
//footer
#footer
  position: absolute
  bottom: 0
  .md-toolbar-tools
    a 
      font-size: 12px
      margin: 8px


md-sidenav
  z-index: 19
  overflow: hidden
  margin-top: 64px


post
  background: #fff

p,h1,h2,h3,h4,h5,h6,span
  font-weight: 225 !important
  letter-spacing: 0.05em !important
a
  color: rgb(3,169,244)
  text-decoration: none

.hide:nth-child(n+5)
  display: none !important


.gray 
  background: #f2f2f2
.green 
  background: #b9f6ca
.yellow 
  background: #ffff8d
.blue 
  background: #84ffff
.purple 
  background: #b388ff
.red 
  background: #ff8a80

.ng-cloak
  display: none !important


.header-caption-wrapper
  margin: 5% 0 0 0
  h2
    margin: 0

.image
  -webkit-transform-style: preserve-3d
  -webkit-transform: translate3d(0,0,0)

// edit subscriptions card 
.subscription-card
  margin: 10px 0
  .subscription-info
    h4
      color: #000
      margin: 0
    span
      font-size: 14px
      color: #757575
    .stats
      span
        font-size: 10px
        margin-right: 5px
        color: #999



.animate.ng-animate 
  -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.1s
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.1s
  opacity: 0


.animate.ng-leave.ng-leave-active,
.animate.ng-enter 
  opacity: 0.5
.animate.ng-leave,
.animate.ng-enter.ng-enter-active 
  opacity: 1
  
