@import "chutter"
.comment-page
  padding: 15px
#comments
  overflow: auto
  padding-top: 20px
  height: 100%
  min-height: auto
  md-backdrop
    display: none

  #reply
    height: 90%
    max-height: 550px

#comment-toolbar
  md-tabs .md-tab
    color: #f3f3f3
  .comments
    margin-right: calc(2.5% - 16px)

comment,
comment-embed
  margin-left: 1.5%
  -webkit-transform-style: preserve-3d
  transform-style: preserve-3d
  -moz-transform-style: preserve-3d
  -webkit-transform: scale(1)
  -moz-transform: scale(1)
  transform: scale(1)
  .main
    background: #fff
  .collapsed
    display: none
    &.active
      display: block
  .main,
  .collapsed
    backface-visibility: hidden
    -webkit-backface-visibility: hidden
    -moz-backface-visibility: hidden
  &.shrunk
    transform: scale(0)
    -moz-transform: scale(0)
    -webkit-transform: scale(0)
  i
    color: #767676
  transform-origin: top left
  -webkit-transform-origin: top left
  -moz-transform-origin: top left
  .collapse-toggle
    width: 100%
    margin: 0
    padding: 0
    text-transform: none
    line-height: inherit
    min-height: 20px

  .content
    padding: 8px
    
  .vote
    margin-top: 5px
    min-height: 85px
    max-height: 100%
    max-width: 3%
    .md-button
      line-height: 30px
      padding: 0 !important
      margin: 0 !important
      max-height: 30px
      min-height: 30px
      height: 30px
      min-width: 15px

  //Colored borders showing hierarchy
  .border
    height: 100%
    position: absolute
    left: 0
    cursor: pointer
    padding: 0 .25vw 0 0
    .line
      width: 2px
      height: 100%
      opacity: 0.5
      margin: auto

  >.border
    >.line
      background: #f44336
  &[color='1']
    >.border
      >.line
        background: #3f51b5
  &[color='2']
    >.border
      >.line
        background: #ffc107
  &[color='3']
    >.border
      >.line
        background: #4caf50

  .border:hover
    >.line
      background: #3f3f3f
  .main
    .body
      h1,h3,h4,h5,h6,p,li,blockquote
        font-size: 0.9em

  .header
    height: 25px
    .time,
    .points
      color: #bdbdbd
      font-size: 0.6em
    .username
      font-size: 0.8em
      font-weight: bold
      padding-left: 4px
      cursor: pointer
    .points
      margin-left: 10px
      line-height: 25px
    .time
      margin-right: 10px

  &[collapsed="true"]
    height: 48px
    margin-bottom: 8px
    box-shadow: rgba(0, 0, 0, 0.156863) 0px 1px 5px
    .header
      height: 48px
      .md-button
        margin-left: 10px
        margin-right: 3px
    .username,
    .points,
    .time
      line-height: 48px
    .time
      margin-right: 18px
    .username
      padding-left: 0
  .main
    margin-left: 10px
    margin-bottom: 15px
    float: left
    border-top: 1px solid #F3F3F3

.collapsed
  transform-origin: top left
  -webkit-transform-origin: top left
  -moz-transform-origin: top left
  -webkit-transition: transform 250ms ease-in-out
  -moz-transition: transform 250ms ease-in-out
  transition: transform 250ms ease-in-out

  background: #767676
  background-color: #f6f6f6
  
  -webkit-transform: scale(0,1)
  -moz-transform: scale(0,1)
  transform: scale(0,1)
  
  .header
    background: #f6f6f6
    background-color: #f6f6f6
  &.active
    transform:  scale(1,1)
    -webkit-transform: scale(1,1)
    -moz-transform: scale(1,1)

.main
  transform-origin: top left
  -webkit-transform-origin: top left
  -moz-transform-origin: top left

  -webkit-transform: scale(1)
  -moz-transform: scale(1)
  transform: scale(1)

  transition: transform 250ms ease-in-out
  -webkit-transition: transform 250ms ease-in-out
  -moz-transition: transform 250ms ease-in-out

  &.active
    -webkit-transform: scale(0)
    -moz-transform: scale(0)
    transform: scale(0)
  .footer
    font-size: 0.8em
    font-weight: 500
    padding-top: 0.5vmax
    span,
    a
      color: #999
      margin-right: 8px

.reply
  .body
    textarea
      background-color: #f5f5f5
  .footer

//Style first comment different (card style)
#comments > comment
  margin: 10px 16px
  border-radius: 2px
  background-color: #FFF
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.16)
  >.main
    border-top: none

.post-comment
  position: absolute
  bottom: 1vw
  right: 1vw
@media (max-width: 1200px)
  .post-comment
    margin-right: 0px
    right: 20px