.comment-page
  padding: 15px
#comments
  margin-top: 30px
  md-backdrop
    display: none
  
#reply
  height: 90%
  max-height: 550px

#comment-toolbar
  position: relative
  min-height: 32px
  height: 32px
  .md-toolbar-tools
    height: 32px
    font-size: 14px

comment,
comment-embed
  width: 95%
  margin: auto
  border-left: 1px solid #ddd
  -webkit-transform-style: preserve-3d
  transform-style: preserve-3d
  -moz-transform-style: preserve-3d

  -webkit-transform: scale(1)
  -moz-transform: scale(1)
  transform: scale(1)
  .main
    background: #fff
  .collapsed
    display: none
    &.active
      display: block
  .main,
  .collapsed
    backface-visibility: hidden
    -webkit-backface-visibility: hidden
    -moz-backface-visibility: hidden
  &.shrunk
    transform: scale(0)
    -moz-transform: scale(0)
    -webkit-transform: scale(0)
  i
    color: #bbb
  transform-origin: top left
  -webkit-transform-origin: top left
  -moz-transform-origin: top left
  .collapse-toggle
    font-size: 10px
    width: 100%
    margin: 0
    padding: 0
    text-transform: none
    line-height: inherit
    min-height: 20px

  .vote
    min-height: 85px
    max-height: 85px
    max-width: 3%
    .md-button
      min-width: 100%
      padding: 0
      margin: 0


  .header,
  .vote
    .username
      font-weight: 500
      padding-left: 4px
    height: 25px
    button.md-button
      line-height: 25px
      padding: 0 !important
      margin: 0 !important
      min-height: 25px
      height: 25px
      min-width: 15px
      span
        height: 100%
        width: 25px

comment
  .main
    margin-bottom: 30px
.collapsed
  transform-origin: top left
  -webkit-transform-origin: top left
  -moz-transform-origin: top left
  -webkit-transition: all 200ms ease-in-out
  -moz-transition: all 200ms ease-in-out
  transition: all 200ms ease-in-out

  background: #f7f7f7
  background-color: #f6f6f6
  
  -webkit-transform: scale(0,1)
  -moz-transform: scale(0,1)
  transform: scale(0,1)
  
  .header
    background: #f6f6f6
    background-color: #f6f6f6
  &.active
    transform:  scale(1,1)
    -webkit-transform: scale(1,1)
    -moz-transform: scale(1,1)

.main
  transform-origin: top left
  -webkit-transform-origin: top left
  -moz-transform-origin: top left

  -webkit-transform: scale(1)
  -moz-transform: scale(1)
  transform: scale(1)


  -webkit-transition: all 200ms ease-in-out
  -moz-transition: all 200ms ease-in-out
  -webkit-transition: all 200ms ease-in-out
  
  &.active
    -webkit-transform: scale(0)
    -moz-transform: scale(0)
    transform: scale(0)
  .footer
    a
      font-size: 12px
      color: #bbb
      margin-right: 6px

.reply
  .body
    textarea
      background-color: #f5f5f5
  .footer
