// Style tabs to mach site toolbar navigation   Add: .tabs-toolbar to md-tabs if you want this style
md-tabs#submit.tabs-toolbar
  border-radius: 0
  md-tabs-wrapper
    height: 64px //height of toolbar
    padding: 0 16px
    md-tabs-canvas
      top: 8px
  md-tabs-content-wrapper
    top: 64px !important //height of toolbar