md-toolbar#main-toolbar
  #breadcrumb 
    font-size: 12px
    padding-top: 4px
    margin: 0 8px 0 12px
  #secondary-title,
  #primary-title
    position: absolute
  #primary-title
    -webkit-transition: transform 150ms ease-in-out
    -moz-transition: transform 150ms ease-in-out
    -webkit-transition: transform 150ms ease-in-out
    &.active
      transform-origin: top left
      -webkit-transform-origin: top left
      -moz-transform-origin: top left
      transform: translateY(-26px) scale(0.6)
      -webkit-transform: translateY(-26px) scale(0.6)
      -moz-transform: translateY(-26px) scale(0.6)