body,
.md-sidenav-left,
md-content
  background: #f2f2f2

.md-sidenav-left
  z-index: 1
.nav-header
  h3
    margin-left: 15px
.nav-list
  md-list-item
    width: 100%
    margin: 0
    color: #757575
    a
      padding: 10px
      margin: 0
      text-transform: capitalize
      padding-left: 15px
      width: 100%
      text-align: left
    i
      font-size: 16px
      margin-right: 5px



#content
  background: #fff

//conversations
#conversations
  md-list-item.md-3-line 
    a
      padding: 0
      margin: 0
      .md-avatar
        margin-right: 0px
        width: 20px
        margin: auto
        i
          margin: auto
          font-size: 10px
      .md-list-item-text
        h3
          font-weight: 500

#conversation
  .message
    width: 40%
    padding: 15px
    word-wrap: break-word
  .user
    font-size: 10px

#reply
  z-index: 999
  background: #f2f2f2