@import 'chutter'
@mixin post-transform-animation 
  transition: transform 250ms cubic-bezier(0.35, 0, 0.25, 1)
  -moz-transition: -moz-transform 250ms cubic-bezier(0.35, 0, 0.25, 1)
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.35, 0, 0.25, 1)

#desktopMediaPlayer
  @include post-transform-animation
  width: 610px
  height: 457.5px
  position: absolute
  top: 0
  left: 0
  background-color: material-color("grey", "200")
  border: 1px solid #ddd
  border-radius: 2px
  z-index: 999
  transform: scale(0)
  -moz-transform: scale(0)
  -webkit-transform: scale(0)
  &.opened
    transform-origin: top left
    -webkit-transform-origin: top left
    -moz-transform-origin: top left
    transform: scale(1)
    -moz-transform: scale(1)
    -webkit-transform: scale(1) 
  &.largeOpened
    top: 80px
    transform: scale(2)
    -moz-transform: scale(2)
    -webkit-transform: scale(2) 
  &.miniOpened
    transform-origin: top right
    -webkit-transform-origin: top right
    -moz-transform-origin: top right
#media-player-wrapper
  md-toolbar,
  .md-toolbar-tools
    @include min-and-max-height(32px)
  #progress-place-holder
    display: none
    width: 60%
    position: absolute
    top: 40%
    left: 40%
  #image-view
    height: calc(100% - 32px) 
  #webpage-view
    overflow: auto
    img
      width: 100%
  #discussion-view
    //height minus the toolbar
    height: calc(100% - 32px) 
  height: 100%
  width: 100%
  iframe
    border: none

#mobileMediaPlayer
  height: 100vh
  background: #fff