#media-controls
  md-slider
    .md-track-container
      background-color: #fff
  background: transparent
  display: none
  left: 0
  width:  125px
  position: absolute
  z-index: 1
  &.active
    display: block
    -webkit-animation: fade 1000ms ease-in-out
    -moz-animation: fade 1000ms ease-in-out
    animation: fade 1000ms ease-in-out

    @keyframes fade 
      0% 
        opacity: 0
      50%
        opacity: 0.5
      100% 
        opacity: 1
    @-webkit-keyframes fade
      0% 
        opacity: 0
      50%
        opacity: 0.5
      100% 
        opacity: 1
