@import "chutter"
@mixin open-menu-animation
  -webkit-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1)
  -webkit-transition-property: height
  -moz-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1)
  -moz-transition-property: height
  transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1)
  transition-property: height

.md-sidenav-left,
.toolbar-container

  .nav-list-item
    &.opened
      ~ .subnav-list-item
        height: 100%
    position: relative
  .nav-list-item,
  .subnav-list-item 
    .md-button
      font-weight: normal
      p,
      span
        margin: 0
        padding: 0
      span:focus
        outline: none
      text-transform: none
      text-align: left
      padding: $sidenav-padding
      margin: 0
      @include min-and-max-width($sidenav-width)

      &.secondary-action
        padding: 0
        position: absolute
        right: 1.25vw
        text-align: center
        @include min-and-max-width(3vw)
  .subnav-list-item
    height: 0
    @include open-menu-animation
    overflow: hidden
    .md-button
      padding: 0 1.75vw
      font-size: 0.8em

.md-sidenav-left
  .nav-list-item
    display: block
    min-height: 48px
    height: 48px
    .secondary-action.md-icon-button
      display: none
    &.opened
      .secondary-action.md-icon-button
        display: inline-block
    .md-button
      min-height: 48px
      height: 48px
      line-height: 48px

.toolbar-container
  .nav-list-item
    height: 64px
    line-height: 64px
    .md-button
      min-height: 48px
      height: 64px
      line-height: 64px
    .page-title
      @include min-and-max-width($sidenav-width)
      padding: 0 1.25vw

.md-sidenav-right
  .detailed-list-item
    position: relative
    .md-button
      line-height: normal
      font-weight: normal
      p,
      span
        margin: 0
        padding: 0
      span
        font-size: 0.9em
        color: #767676
        font-weight: 500
        :focus
          outline: none
      text-transform: none
      text-align: left
      padding: 1.25vw
      margin: 0
      @include min-and-max-width($sidenav-width)

      &.secondary-action
        padding: 0
        position: absolute
        right: 1.25vw
        text-align: center
        height: 48px
        line-height: 48px
        @include min-and-max-width(3vw)


