@import "chutter"
.detailed-list-item
  border-bottom: 1px solid material-color("grey", "200")
.post-item,
.comment-item
  .md-button
    p
      white-space: nowrap
      width: 100%                  
      overflow: hidden         
      text-overflow: ellipsis