@import "chutter"
.detailed-list-item
  border-bottom: 1px solid material-color("grey", "200")
.post-item,
.comment-item
  .md-button
    .ion-chatbox,
    .ion-chatboxes
      margin-right: 8px
      color: material-color("blue", "300")
    .tagline
      margin-left: 18px