@import 'chutter'

@mixin post-transform-animation 
  transform: translate3d(0,0,0)
  -webkit-transform: translate3d(0,0,0)
  -moz-transform: translate3d(0,0,0)
  transition: transform 250ms ease-out
  -moz-transition: transform 250ms ease-out
  -webkit-transition: transform 250ms ease-out

md-list#posts 
  padding-top: 0
#under-active-post-wrapper
  @include post-transform-animation

.post
  position: relative
  margin: 0.75vw 0

  z-index: 21
  width:  100%
  height: $four-three-height-scaled
  @media(max-width: 960px) 
    margin-top: 2vw
    height: $four-three-height-scaled-mobile
  .postcontrols 
    position: absolute
    left: 0
    z-index: 100
    .md-track-container
      background-color: #fff
    .reset-button
      span
        color: #fff
  .postcontent
    height: $four-three-height
    embed-video
      width: 100%
      height: 100%
    img
      width: 100%
      height: auto
      position: absolute
      top: 0
      left: 0
  .postcontent,
  .middle
    width:  $four-three-width
    position: absolute
    @include post-transform-animation
    @media(max-width: 960px) 
      width: $four-three-width-mobile
  .middle
    height: $four-three-height-scaled
    @media(max-width: 960px) 
      height: $four-three-height-scaled-mobile
  .postcontent
    height: $four-three-height
    @media(max-width: 960px) 
      height: $four-three-height-mobile

  .top, .tagline, .footer
    padding-left: 8px

  .vote
    max-width: 4vw
    height: $four-three-height-scaled
    max-height: $four-three-height-scaled
    min-height: $four-three-height-scaled
    .md-button
      min-width: 100%
      height: $four-three-height-scaled / 2
      min-height: $four-three-height-scaled / 2
      line-height: $four-three-height-scaled / 4
      padding: 0
      margin: 0
  .main
    width: $four-three-width
    height: $four-three-height-scaled
    @media(max-width: 960px)
      width: $four-three-width-mobile
      height: $four-three-height-scaled-mobile
  .postcontent
    background: #000
    transform: scale(0.1)
    transform-origin: top left

    -webkit-transform: scale(0.1)
    -webkit-transform-origin: top left

    -moz-transform: scale(0.1)
    -moz-transform-origin: top left
    @media(max-width: 960px)
      transform: scale(0.2)
      transform-origin: top left

      -webkit-transform: scale(0.2)
      -webkit-transform-origin: top left

      -moz-transform: scale(0.2)
      -moz-transform-origin: top left

  .md-button.post-toggle
    top: 10px
    left: 10px
    margin: 0
    min-height: auto
    width: 30px
    height: 30px
    line-height: 30px

  .media
    width: $four-three-width
    height: $four-three-height
    @media(max-width: 960px) 
      width: 100vw
      height: 75vw
    transform: translateY(75px)
    -webkit-transform: translateY(75px)
    -moz-transform: translateY(75px)
    cursor: hand
  .middle
    transform-origin: top right
    transform: scale(0.9)

    -webkit-transform: scale(0.9)
    -webkit-transform-origin: top right

    -moz-transform: scale(0.9)
    -moz-transform-origin: top right
    @media(max-width: 960px)
      transform-origin: top right
      transform: scale(0.8)

      -webkit-transform: scale(0.8)
      -webkit-transform-origin: top right

      -moz-transform: scale(0.8)
      -moz-transform-origin: top right
    position: absolute
    .top
      padding-left: 1vmax
      .title
        a.title-text
          color: #767676
          font-weight: 500
      .attribution
        font-weight: 300
        padding: 0 8px
        color: #bbb
    .tagline,
    .footer
      padding-top: 0.5vmax
      padding-left: 1vmax
      span,
      a
        color: #999
        &.votes
          margin-right: 6px
          color: #999
          font-weight: bolder
        &.submitted-by-text,
        &.time-ago,
          margin-right: 4px
          font-weight: 300
      .user-link
        margin-right: 4px

    .footer
      a
        cursor: hand
        margin-right: 8px
        font-weight: 500

  embed-video
    -webkit-animation: fade 500ms ease-in-out
    -moz-animation: fade 500ms ease-in-out
    animation: fade 500ms ease-in-out

  @keyframes fade 
    0% 
      opacity: 0
    50%
      opacity: 0
    75%
      opacity: 0.8
    100% 
      opacity: 1
  @-webkit-keyframes fade
    0% 
      opacity: 0
    50%
      opacity: 0
    75%
      opacity: 0.8
    100% 
      opacity: 1
  @-moz-keyframes fade
    0% 
      opacity: 0
    50%
      opacity: 0
    75%
      opacity: 0.8
    100% 
      opacity: 1