md-list#posts 
  padding-top: 0
.post
  padding: 5px
  z-index: 21
  min-height: 101px
  transition: transform 250ms ease-out
  -moz-transition: transform 250ms ease-out
  -webkit-transition: transform 250ms ease-out
  .postcontrols 
    position: absolute
    left: 0
    z-index: 100
    .md-track-container
      background-color: #fff
    .reset-button
      span
        color: #fff
  .postcontent,
  .middle
    width: 100%
    position: absolute
    transition: transform 250ms ease-out
    -moz-transition: transform 250ms ease-out
    -webkit-transition: transform 250ms ease-out
  
  .top, .tagline, .footer
    padding-left: 8px

  .vote
    max-width: 5%
    height: 101px
    .md-button
      min-width: 100%
      padding: 0
      margin: 0
      i
        font-size: 20px
  .main
    width: 95%
  .postcontent
    transform: scale(0.2)
    transform-origin: top left

    -webkit-transform: scale(0.2)
    -webkit-transform-origin: top left

    -moz-transform: scale(0.2)
    -moz-transform-origin: top left


  .md-button.post-toggle
    top: 10px
    left: 10px
    margin: 0
    min-height: auto
    width: 30px
    height: 30px
    line-height: 30px
    i
      font-size: 10px

  .media
    width: 100%
    transform: translateY(75px)
    -webkit-transform: translateY(75px)
    -moz-transform: translateY(75px)
    cursor: hand
  .middle
    transform-origin: top right
    transform: scale(0.8)

    -webkit-transform: scale(0.8)
    -webkit-transform-origin: top right

    -moz-transform: scale(0.8)
    -moz-transform-origin: top right

    position: absolute
    width: 100%
    .top
      padding: 8px 8px 0 16px
      .title
        a.title-text
          color: #767676
          font-weight: 500
          font-size: 16px
      .attribution
        font-weight: 300
        padding: 0 8px
        font-size: 12px
        color: #bbb
    .tagline,
    .footer
      padding: 8px 16px 0 16px
      font-size: 12px

      span
        &.votes
          margin-right: 6px
          color: #999
          font-weight: bolder
        &.submitted-by-text,
        &.time-ago,
          margin-right: 4px
          font-weight: 300
      .user-link
        margin-right: 4px

    .footer
      a
        cursor: hand
        margin-right: 8px
        font-weight: 500

  embed-video
    -webkit-animation: fade 500ms ease-in-out
    -moz-animation: fade 500ms ease-in-out
    animation: fade 500ms ease-in-out

  @keyframes fade 
    0% 
      opacity: 0
    50%
      opacity: 0
    75%
      opacity: 0.8
    100% 
      opacity: 1
  @-webkit-keyframes fade
    0% 
      opacity: 0
    50%
      opacity: 0
    75%
      opacity: 0.8
    100% 
      opacity: 1
  @-moz-keyframes fade
    0% 
      opacity: 0
    50%
      opacity: 0
    75%
      opacity: 0.8
    100% 
      opacity: 1