%md-content.md-padding{layout: "column"}
  %div{layout: "column", layout-padding: true}
    %form{ng-submit: "submit()"}
      %div{layout: "row"}
        %md-input-container{flex: true}
          %label Title
          %input{ng-model: "newPost.title", required: "required", type: "text"}
      %div{layout: "row"}
        %md-input-container{flex: true}
          %label Text
          %textarea{ng-model: "newPost.body", type: "text", rows: 10}
      %div{layout: "column"}
        %md-subheader
          Preview
        %div{marked: "newPost.body"}
      %div{layout: "row"}
        %span{flex: true}
        %md-button.md-raised.md-priary{type: "submit"}
          Submit        
