%md-content.md-padding
  %div{layout: "column", layout-padding: true}
    %form{ng-submit: "submit()"}
      %div{layout: "row"}
        %md-input-container{flex: true}
          %label Link
          %input{ng-model: "newPost.media_attributes[0].link", required: "required", type: "text"}
        %div#submit-progress{flex: true, ng-show: "scraping"}  
      %div{layout: "row"}
        %md-input-container{flex: true}
          %label Title
          %input{ng-model: "newPost.title", required: "required", type: "text"}
      %div{layout: "row"}
        %span{flex: true}
        %md-button.md-raised.md-priary{type: "submit"}
          Submit        
    %div{flex: true, ng-if: "preview && newPost.media_attributes[0].link"}
      %md-subheader
        Preview
      %div
        %post{post: "preview", layout: "row"}