.post.primary-content{layout: "row", style: "height: auto; width: 80%;"}
  .vote{hide-sm: "true", layout: "column", layout-align: "start center"}
    %md-button.md-icon-button.up{flex: true, aria-label: "Upvote", ng-click: "ctrl.postService.updateVote(ctrl.post, 1)"}
      %i.icon.ion-chevron-up{ng-class: "{'active-up' : (ctrl.post.vote == 1)}"}
    %h6{ng-bind: "ctrl.post.points"}
    %md-button.md-icon-button.down{flex: true, aria-label: "Downvote", ng-click: "ctrl.postService.updateVote(ctrl.post, -1)"}
      %i.icon.ion-chevron-down{ng-class: "{'active-down' : (ctrl.post.vote == -1)}"}
  .main{layout: "row", flex: "true"}
    .middle{layout: "column"}
      .top
        .title
          %a.link-color.md-title{ng-bind: "ctrl.post.title", href: "/c/{{ctrl.post.community_slug}}/{{ctrl.post.slug}}"}
      .tagline.color-light
        %span.submitted-by-text
          submitted
        %span.time-ago{am-time-ago: "post.created_at"}
        %span
          by
        %a.link-color{ng-bind: "post.username", ui-sref: "user.overview({username: post.username})"}
        %span to
        %a.link-color{ng-bind: "'/c/' + post.community_slug", ui-sref: "frontpage.community.hot({community: post.community_slug})"}
      .body{marked: "ctrl.post.body"}        
      .post-footer{layout: "row"}
        %a{href: "/c/{{ctrl.post.community_slug}}/{{ctrl.post.slug}}", ng-bind: "ctrl.post.comments_count + ' comments'"}
        %a{ng-if: "!ctrl.post.saved", ng-click: "ctrl.postService.toggleSave(ctrl.post)"}
          save
        %a{ng-if: "ctrl.post.saved", ng-click: "ctrl.postService.toggleSave(ctrl.post)"}
          unsave
        %a{ng-if: "!ctrl.post.reported", ng-click: "ctrl.postService.report(ctrl.post)"}
          report
        %a.disabled{ng-if: "ctrl.post.reported"}
          reported
        %a{ng-click: "ctrl.postService.moderate(ctrl.post)", ng-if: "ctrl.post.moderates && !ctrl.post.restricted_from_removing_posts"}
          mod
     