%div{layout: "row", layout-margin: "true", style: "height: 100px;"}
  .media{flex: "10", ng-show: "post.media.length", ng-click: "post.toggle()", style: "background-image: url('{{post.media[0].thumbnail_link}}'); background-size: cover;"}
  .middle{flex: "75", layout: "column", flex: true}
    .top{ng-switch: "post.media.length", flex: true}
      %div{ng-switch-when: 0, layout: "row"}
        .title{flex: "75", flex-sm: "100"}
          %a.title-text{ng-bind: "post.title", ui-sref: "home.community.comments({id: post.slug, community: post.community_slug})"}
        %span{flex: true}
        .community
          %a{ng-bind: "post.community"}
      %div{ng-switch-default: true, layout: "row"}
        .title{flex: "75"}
          %a.title-text{ng-bind: "post.title", href: "{{post.media[0].link}}"}
          %span.attribution  
            %a{ng-bind: "'('+post.media[0].attribution+')'"}
        %span{flex: true}

   
