%md-virtual-repeat-container{style: "height: calc(100vh - 80px)"}
  .post.primary-content{md-virtual-repeat: "post in ctrl.dynamicItems", md-on-demand: "true", layout: "row", layout-align: "start center", md-item-size: "75"}
    .vote{hide-sm: "true", layout: "column", layout-align: "start center"}
      %md-button.md-icon-button{flex: true, aria-label: "Upvote", ng-click: "ctrl.postService.updateVote(post, 1)"}
        %i.icon.ion-chevron-up{ng-class: "{'active-up' : (post.vote == 1)}"}
      %h6{ng-bind: "post.points"}
      %md-button.md-icon-button{flex: true, aria-label: "Downvote", ng-click: "ctrl.postService.updateVote(post, -1)"}
        %i.icon.ion-chevron-down{ng-class: "{'active-down' : (post.vote == -1)}"}
    .postcontent.md-whiteframe-z1{ng-click: "ctrl.mediaPlayer.toggle(post, $event)", ng-style: "{'background-image': ctrl.postService.getBackgroundImage(post)}", id: "{{$index}}"}
      %i.icon.ion-ios-paper{ng-hide: "post.media.length > 0"}
      %span{ng-switch: "post.media[0].format"}
        %i.icon.ion-ios-search-strong{ng-switch-when: "image"}
        %i.icon.ion-ios-search-strong{ng-switch-when: "webpage"}
        %i.icon.ion-ios-play{ng-switch-when: "video"}
        %i.icon.ion-ios-glasses-outline{ng-switch-default: "true"}
    .main{layout: "row", flex: "true"}
      .middle{layout: "column"}
        .top{ng-switch: "post.media.length"}
          .title{ng-switch-when: 0}
            %a.color-light.md-title{ng-bind: "post.title", ui-sref: "home.community.comments({id: post.slug, community: post.community_slug})"}

          .title{ng-switch-default: true}
            %a.color-light.md-title{ng-bind: "post.title", href: "{{post.media[0].link}}"}
            %span.attribution{ng-if: "false && post.media[0] && post.media[0].attribution", ng-bind: "'('+post.media[0].attribution+')'"}
        .tagline
          %span.votes{ng-bind: "(post.points || 0) + ' points'"} 
          %span.submitted-by-text
            submitted by
          %a.user-link{ng-bind: "post.username", ui-sref: "user.overview({username: post.username})"}
          %span.time-ago{am-time-ago: "post.created_at"}
          %span to
          %a.user-link{ng-bind: "post.community_slug", ui-sref: "home.community.hot({community: post.community_slug})"}
            
        .footer{layout: "row"}
          %a{ui-sref: "home.community.comments({id: post.slug, community: post.community_slug})", ng-bind: "post.comments_count + ' comments'"}
          %a{ng-if: "!post.saved", ng-click: "ctrl.postService.toggleSave(post)"}
            save
          %a{ng-if: "post.saved", ng-click: "ctrl.postService.toggleSave(post)"}
            unsave
          %a{ng-if: "!post.reported", ng-click: "ctrl.postService.report(post)"}
            report
          %a.disabled{ng-if: "post.reported"}
            reported
          %a{ng-click: "ctrl.postService.moderate(post)", ng-if: "post.moderates && !post.restricted_from_removing_posts"}
            mod
       