.vote{hide-sm: "true", layout: "column", layout-align: "start center"}
  %md-button.md-icon-button.up{flex: true, aria-label: "Upvote", ng-click: "post.updateVote(1)"}
    %i.icon.ion-chevron-up{ng-class: "{'active-up' : (post.vote == 1)}"}
  %h6{ng-bind: "post.points"}
  %md-button.md-icon-button.down{flex: true, aria-label: "Downvote", ng-click: "post.updateVote(-1)"}
    %i.icon.ion-chevron-down{ng-class: "{'active-down' : (post.vote == -1)}"}
.postcontent.md-whiteframe-z1{ng-click: "mediaPlayer.toggle(post.media, $event)", ng-if: "post.media.length", ng-style: "{'background-image': ctrl.getBackgroundImage(post)}", id: "{{$index}}"}
  %span{ng-switch: "post.media[0].format"}
    %i.icon.ion-ios-search-strong{ng-switch-when: "image"}
    %i.icon.ion-ios-search-strong{ng-switch-when: "webpage"}
    %i.icon.ion-ios-play{ng-switch-when: "video"}
.main{layout: "row", flex: "true"}
  .middle{layout: "column"}
    .top{ng-switch: "post.media.length"}
      .title{ng-switch-when: 0}
        %a.color-light.md-title{ng-bind: "post.title", ui-sref: "home.community.comments({id: post.slug, community: post.community_slug})"}

      .title{ng-switch-default: true}
        %a.color-light.md-title{ng-bind: "post.title", href: "{{post.media[0].link}}"}
        %span.attribution{ng-if: "false && post.media[0] && post.media[0].attribution", ng-bind: "'('+post.media[0].attribution+')'"}
    .tagline
      %span.votes{ng-bind: "(post.points || 0) + ' points'"} 
      %span.submitted-by-text
        submitted by
      %a.user-link{ng-bind: "post.username", ui-sref: "user.overview({username: post.username})"}
      %span.time-ago{am-time-ago: "post.created_at"}
        
    .footer{layout: "row"}
      %a{ui-sref: "home.community.comments({id: post.slug, community: post.community_slug})", ng-bind: "post.comments_count + ' comments'"}
      %a{ng-if: "!post.saved", ng-click: "post.toggleSave()"}
        save
      %a{ng-if: "post.saved", ng-click: "post.toggleSave()"}
        unsave
      %a{ng-if: "!post.reported", ng-click: "post.report()"}
        report
      %a.disabled{ng-if: "post.reported"}
        reported
      %a{ng-click: "post.moderate()", ng-if: "post.moderates && !post.restricted_from_removing_posts"}
        mod
