.controls{style: "position: absolute; top: 5.5vw; width: 4vw;", layout: "column", layout-align: "start center", layout-fill: "true", ng-if: "post.toggled"}
  %md-button.md-icon-button{aria-label: "close", ng-click: "post.toggle()"}
    %i.icon.ion-close
  %md-button.md-icon-button{aria-label: "close", ng-click: "post.currentMedia.audio.toggle()", ng-if: "post.currentMedia.audio", ng-switch: "post.currentMedia.audio.audioElement.paused"}
    %i.icon.ion-pause{ng-switch-when: "false"}
    %i.icon.ion-play{ng-switch-when: "true"}
  %md-button.md-icon-button{aria-label: "expand", ng-click: "post.toggleExpand()", ng-if: "post.currentMedia.format != 'music'", ng-switch: "post.zoomValue"}
    %i.icon.ion-android-expand{ng-switch-default: "true"}
    %i.icon.ion-android-contract{ng-switch-when: "10"}
.vote{hide-sm: "true", layout: "column", layout-fill: true}
  %md-button{flex: true, aria-label: "Upvote", ng-click: "post.updateVote(1)"}
    %i.icon.ion-chevron-up{ng-class: "{'active-up' : (post.vote == 1)}"}
  %md-button{flex: true, aria-label: "Downvote", ng-click: "post.updateVote(-1)"}
    %i.icon.ion-chevron-down{ng-class: "{'active-down' : (post.vote == -1)}"}
.main
  .middle{layout: "column"}
    .top{ng-switch: "post.media.length"}
      %div{ng-switch-when: 0}
        .title
          %a.title-text{ng-bind: "::post.title", ui-sref: "home.community.comments({id: post.slug, community: post.community_slug})"}

      %div{ng-switch-default: true}
        .title
          %a.title-text{ng-bind: "::post.title", href: "{{::post.media[0].link}}"}
          %span.attribution{ng-bind: "'('+post.media[0].attribution+')'"}
    .tagline
      %span.votes{ng-bind: "(post.points || 0) + ' points'"} 
      %span.submitted-by-text
        submitted by
      %a.user-link{ng-bind: "::post.username", ui-sref: "user.overview({username: post.username})"}
      %span.time-ago
        about 34 minutes ago
    .footer{layout: "row"}
      %a{ui-sref: "home.community.comments({id: post.slug, community: post.community_slug})", ng-bind: "post.comments_count + ' comments'"}
      %a{ng-if: "!post.saved", ng-click: "post.toggleSave()"}
        save
      %a{ng-if: "post.saved", ng-click: "post.toggleSave()"}
        unsave
      %a{ng-click: "post.report()"}
        report
      %a{ng-click: "post.moderate()", ng-if: "post.moderates && !post.restricted_from_removing_posts"}
        mod
  .postcontent{layout: "column",layout-align: "center center", ng-click: "post.toggle($event)"}
    %embed-video.md-whiteframe-z3{ng-if: "post.currentMedia.format == 'video' && post.zoomValue > 1", data-ng-href: "{{post.media[0].stream_link}}", autoplay: "1", width: "100%", height: "100%"}
    %img.md-whiteframe-z3{ng-if: "(post.currentMedia.format != 'video') && post.zoomValue > 1", ng-src: "{{post.currentMedia.image_link}}"}
    .body.md-whiteframe-z3{ng-if: "post.currentMedia.format == 'body'" , layout: "column"}
      %md-content.md-whiteframe-z1.md-padding
        %div.md-padding{marked: "::post.body"}
