#post-list-wrapper{infinite-scroll: "fetchMorePosts()", infinite-scroll-container: "'#posts'", infinite-scroll-distance: "2"}
  %post.post{ng-repeat: "post in page.posts track by post.id",  post: "post", post-index: "$index", layout: "row", layout-sm: "column", flex: true, id: "post-{{post.id}}"} 
