%md-bottom-sheet{md-theme: "moderator"}
  %md-toolbar.md-warn
    .md-toolbar-tools
      %h3
        Report
      %span{flex: true}
      %md-button.md-icon-button{ng-click: "close()"}
        %i.fa.fa-close
  %md-content{layout-padding: true, layout-margin: true, layout: "column"}
    %md-tabs
      %md-tab{label: "Content"}
        %md-content
          %div{ng-include: "'/partials/shared/postEmbed.html'"}
          %form{name: "explanationForm"}
            %md-subheader
              Rule Violation
            %md-radio-group{ng-model: "activityLogEntry.rule_id"}
              %md-radio-button.md-primary{ng-repeat: "rule in community_rules | filter:{posts: true} ", ng-value: "rule.id"}
                {{rule.category}}
            %md-input-container
              %label Detailed Explanation
              %textarea{ng-model: "activityLogEntry.detailed_explanation", type: "text", rows: 5}
            .footer{layout: "row"}
              %span{flex: true}
              %md-button.md-raised{ng-click: "submitEntityableForm()"}
                Submit
              %md-button.md-raised
                Cancel

      %md-tab{label: "User"}
        %form{name: "explanationForm"}
            %h3{ng-bind: "entityable.username"}
            %md-radio-group
              %md-radio-button.md-primary{ng-repeat: "rule in community_rules | filter:{general: true} ", ng-value: "rule.id"}
            %md-input-container{flex: true}
              %label Detailed Explanation
              %textarea{ng-model: "newComment.body", type: "text", rows: 5}
            .footer{layout: "row"}
              %span{flex: true}
              %md-button.md-raised{ng-click: "submitUserForm()"}
                Submit
              %md-button.md-raised
                Cancel
