%md-dialog{style: "width: 50%;"}
  %md-toolbar.md-accent
    %div.md-toolbar-tools
      Help keep Chutter.co online
      %span{flex: true}
      %md-button.md-icon-button{ng-click: "hideDialog()"}
        %i.fa.fa-close.fa-fw{aria-label="Close dialog"}
  %md-dialog-content
    %section
