%md-dialog{style: "width: 50%;"}
  %md-toolbar.md-accent
    %div.md-toolbar-tools
      Help keep Chutter.co online
      %span{flex: true}
      %md-button.md-icon-button{ng-click: "hideDialog()"}
        %i.fa.fa-close.fa-fw{aria-label="Close dialog"}
  %md-dialog-content
    %section#subscription-section
      %md-list
        %md-list-item.md-2-line
          %md-icon{layout: "row", layout-align: "center center"}
            %i.icon.ion-ribbon-a
          .md-list-item-text
            %h3 Gild up to 10 users a month
            %p Award the best comments / posts and the user gets a free month of chutter pro.
        %md-list-item.md-2-line
          %md-icon{layout: "row", md-svg-src: "/img/character.svg"}
          .md-list-item-text
            %h3 Support Chutter
            %p You can pay for a meaningful chunk of server time for only 4 quarters a month.

        %md-list-item.md-2-line
          %md-icon{layout: "row", layout-align: "center center"}
            %i.icon.ion-android-notifications-off
          .md-list-item-text
            %h3 Mute post / comment notifications
            %p No more "R.I.P inbox". Easily mute comment / post / message notifications
        %md-list-item.md-2-line
          %md-icon{layout: "row", layout-align: "center center"}
            %i.icon.ion-android-funnel
          .md-list-item-text
            %h3 Saved categories
            %p All of your saved posts will automatically be categorized (e.g. "music", "videos", etc...).


