%md-dialog{style: "width: 50%;"}
  %md-toolbar.md-accent
    %div.md-toolbar-tools
      Help keep Chutter.co online
      %span{flex: true}
      %md-button.md-icon-button{ng-click: "hideDialog()"}
        %i.fa.fa-close.fa-fw{aria-label="Close dialog"}
  %md-dialog-content
    %section
      %p
        I wanted to provide a safe, easy, and hassle-free way to support Chutter.co from the start. Your support directly affects: 
