%md-toolbar#main-toolbar{ng-class: "page.mainToolbar", md-scroll-shrink: "true"}
  .md-toolbar-tools{layout: "row", flex: "100", layout-align: "space-between center"}
    .toolbar-continer{layout: "row"}
      %md-button#logo{style: "background-color: transparent;", href: "/", layout: "row", layout-align: "center center"}
        %img{ng-src: "/img/logo.png"}
      %a#secondary-header{ng-if: "page.network && page.network.name", ng-bind: "page.network.name"}      
              
    .toolbar-container#auth-container{ng-hide: "user && user.id", layout: "row", layout-align: "end end"}
      %md-button{aria-label: "sign in", ng-click: "logIn()"}
        log in
      %md-button{aria-label: "sign in", ui-sref: "register.welcome"}
        sign up
    .toolbar-container{ng-show: "user && user.id", hide-sm: true, hide-md: true, layout: "row", layout-align: "end center"}
      %md-button{aria-label: "moderation", ng-if: "user.moderator", href: "/moderation", target: "_self"}
        Moderation
      %md-button{aria-label: "management", ng-if: "user.manager", href: "/management", target: "_self"}
        Management
      %md-menu
        %md-button.md-icon-button{aria-label: "change theme", ng-click: "$mdOpenMenu($event)"}
          .icon.ion-android-color-palette
        %md-menu-content.theme-list
          %md-button{aria-label: "change theme", ng-click: "switchTheme('chutter')"}
            .theme-chutter
              Chutter
          %md-button{aria-label: "change theme", ng-click: "switchTheme('chutterDark')"}
            .theme-chutter-dark
              Chutter Dark
          %md-button{aria-label: "change theme", ng-click: "switchTheme('chutterTeal')"}
            .theme-chutter-teal
              Chutter Teal
          %md-button{aria-label: "change theme", ng-click: "switchTheme('chutterOrange')"}
            .theme-chutter-orange
              Chutter Orange
          %md-button{aria-label: "change theme", ng-click: "switchTheme('chutterPink')"}
            .theme-chutter-pink
              Chutter Pink

      %md-button{aria-label: "notifications", href: "/me/notifications", target: "_self"}
        {{user.username}} 
      %span
        ({{user.post_points}} · {{user.comment_points}})
        
      %md-button.md-icon-button{aria-label: "messages", href: "/me/conversations", target: "_self", hide-sm: true}
        %i.icon.ion-android-mail
        %md-tooltip
          Messages
      %md-button.md-icon-button{aria-label: "logout", ng-click: "logout()", hide-sm: true}
        %i.icon.ion-log-out
        %md-tooltip
          Log out
%md-toolbar.md-whiteframe-z1#networks-bar{ng-class: "page.mainToolbar"}
  .md-toolbar-tools
    %md-menu-bar#network-menu-bar
      %md-menu
        %md-button{ng-click: "$mdOpenMenu()"}
          %span
            My Networks
          %md-icon
            %i.icon.ion-android-arrow-dropdown
        %md-menu-content
          %md-menu-item
            %md-button{aria-label: "view all networks", ui-sref: "home.all.hot"} 
              Front Page
          %md-menu-item{ng-repeat: "network in page.networks"}
            %md-button{aria-label: "view network", ui-sref: "home.network.hot({network: network.slug})"} 
              {{network.name}}
          %md-menu-divider
          %md-menu-item{ng-click: "editNetworks()"}
            %md-button
              Find new networks

    %md-tabs.md-primary{flex: "true", ng-class: "page.mainToolbar"}
      %md-tab{ui-sref: "home.all.hot"}
        %md-tab-label
          %span All
      %md-tab{ng-repeat: "community in page.communities", ui-sref: "home.community.hot({community: community.slug})"}
        %md-tab-label{layout: "row", layout-align: "space-between center"}
          %span{ng-bind: "community.name"}
    %md-button.md-icon-button{ng-if: "page.scope != 'all' && user && user.id", ng-click: "editNetworkCommunities(page.network)"}
      %i.icon.ion-plus-round

